[2016-12-27 16:06] rohrlach opened #6 "Performance Space does not make good use of the screen"
- [ ] The performance space should look as close to the existing performance space as possible:

![image](https://cloud.githubusercontent.com/assets/2830313/22485918/70cef610-e7d5-11e6-9df9-15fd7ea9e8ae.png)

[2016-12-27 16:26] rohrlach opened #7 "Shout command is confusing"
It makes little sense to have a dropdown that suggests the user can select their recipient also contain the ability to shout.

- [ ] Make chat "Shout" modifier a checkbox

[2016-12-27 16:47] rohrlach opened #8 "Announcements"
Create an Announcements resource that will display in the foyer.

**Acceptance Criteria**

- [x] Announcement is a standard resource that has no dependencies.
- [x] Announcements should have a title and body text
- [x] Logged in administrator can create, edit, delete announcements.
- [x] Foyer displays announcements to any user sorted latest-on-top.

[2016-12-27 16:50] rohrlach opened #9 "Statistics"
Stats panel in the foyer should display realtime statistics on the running instance.

**Acceptance Criteria**
- [ ] Number of connected players across all performances
- [ ] Number of connected audience users across all performances
- [ ] Number of stages currently in use (IE: current performances)

[2016-12-27 16:56] rohrlach opened #10 "Avatar Performance Behavior"
Players should be able to take hold of avatars and control them on the stage.
**Acceptance Criteria**
- [ ] Players can pick up (hold) an avatar
- [ ] Players can click on the stage to place the avatar they are holding
- [ ] Avatars should move on the stage to where the player that is holding it has clicked
- [ ] Players can only hold one avatar at a time.
- [ ] Players can release (drop) avatars

[2016-12-27 17:02] rohrlach opened #11 "Props"
**Acceptance Criteria**
- [ ] A 'Prop' resource will be created
- [ ] The Prop resource should virtually mimic the Avatar resource from an architectural perspective
- [ ] Logged in users can create, edit, delete Props
- [ ] Logged in users can assign/unassign props from stages.

[2016-12-27 17:02] rohrlach commented on #11
@helenvarley can you create acceptance criteria for how the props should work during a performance?

[2016-12-27 17:03] rohrlach opened #12 "Voices"
Avatars should have voices

[2016-12-28 01:15] helenvarley commented on #8
announcements would be a great feature :)

[2016-12-28 01:16] helenvarley commented on #10
last point, "Players who use the chat while holding an avatar should see their message appear as a speech bubble above the avatar they are holding." - everyone on the stage should see the speech bubble, not only the player holding the avatar (just to clarify).

[2016-12-28 01:17] helenvarley commented on #10
do we also want "Player can flip / rotate the avatar they are holding" ?
& "player can change the name of the avatar they are holding" ?

[2016-12-28 01:23] helenvarley commented on #11
yes; i think that the prop should NOT virtually mimic the avatar, otherwise it's really not that useful to have a separate resource. it would be good to be able to place props directly on the stage as independent objects, not something that has to be held by an avatar (as it is currently).
something like:
- player clicks on prop icon to "hold", then clicks on stage to "place"; prop is then visible

[2016-12-28 01:23] helenvarley commented on #12
minimum one "female" & one "male" voice; ideally not american!

[2016-12-28 16:26] rohrlach commented on #12
I haven't quite worked out an approach here,  Ideally, I'd like to use [HTML5's Web Speech API](https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API) as this puts the synthesis work back on the browser and will therefore keep the workload as streamlined as possible.

[2016-12-28 16:28] rohrlach commented on #11
Yes I agree.  What I mean by 'virtually mimic' is that, in terms of the server side representation, there is actually very little that separates a representation of media types - How they behave client side is a different matter entirely :)

With that being said, I have a feeling I could do better architecturally in this regard, so I'm putting this into my backlog for further (ie: broader-scoped)

[2016-12-28 16:30] rohrlach commented on #10
Yes we do, however I think I'll raise these enhancements as separate issues.  Let's just get avatars on the stage first :)

[2016-12-28 16:32] rohrlach opened #13 "Rename Avatars"
Players should be able to rename the avatar they are currently holding.  This should not replace the avatars actual persistent name, but rather only apply to the stage in which the avatar is renamed.

[2016-12-28 16:33] rohrlach opened #14 "Flip/Rotate Avatars"
Players should have the ability to flip and/or rotate the avatar they are currently holding during a performance, in addition to being able to move them about the space.

[2017-01-03 08:04] vickis commented on #12
cool
is there  way to ‘create a series o voices… or would the male/female still be slow/faster version of the browsers default?

[2017-01-03 08:08] vickis commented on #11
yes like the prop being more 'object like’ i do like to ability to ’share' & carry props but then the prop could perhaps be placed OR held
for example some things you might wish to pass around

BUT for example o walk through a forest, jump from cloud to cloud or swim through strands of seaweed would be interesting to be able to do
(i guess like what we did with the trees prop in babayaga (and also

[2017-01-03 08:09] vickis commented on #10
agree ;)

[2017-01-03 08:35] vickis commented on #8
agreed :)

[2017-01-03 11:54] rohrlach commented on #12
Depends on the browser. Chrome has many, Firefox a few. It'll get better over time.

[2017-01-05 03:59] helenvarley commented on #11
i agree vicki. shall we write a list of how we'd like props to work?
- can be placed on stage & left there (independently of an avatar)
- can be moved on the stage (independently of an avatar)
- can be held & carried by an avatar (i.e. it moves along when you move the avatar)
- can be passed from one avatar to another (which we can currently do)
- avatars can go in front of or behind props
- can b

[2017-01-30 00:56] helenvarley opened #15 "batch edit players"
it would be useful to have the possibility to batch edit players. this would be mostly for guest or student accounts, where we change the passwords for different groups of one-time users. for example today i have changed the 10 student players' passwords, & then created another 10 as i'm doing a workshop with potentially 20 students, & i had to do each one manually one by one. it would be great to

[2017-01-30 00:58] helenvarley opened #16 "clone stage"
it would be great to be able to clone a stage. this would be useful if you wanted to have a stage that was publicly accessible and a duplicate private stage for rehearsals, or for workshop situations where you want more than one stage with the same set of media on it. for example i'm preparing for a workshop with 16-20 students, & i want to create 4 new stages with the same media as the open walkt

[2017-03-14 21:07] helenvarley opened #17 "Chat Links"
hyperlinks in the chat window should open in a new browser tab when clicked on, without any buggy stuff happening in the url as does in UpStage v3!!

[2017-03-14 22:55] rohrlach commented on #17
**Story: As a user of any kind, I must be able to share a link via chat**

- [ ] Software must accurately identify URLs sent via chat
- [ ] When links are displayed in the chat log, they must indicate that they are clickable
- [ ] When a user clicks on a link in the chat log, the link must be followed in a new tab

[2017-03-14 23:03] rohrlach commented on #10
On further analysis, this will be broken down into smaller issues

[2017-03-15 08:53] helenvarley commented on #17
should we also add that people can enter links either as www.blahblahblah, or http://www... & that both will become the correct link? bcos people are likely to enter links both ways, with or without the http.

[2017-03-15 11:44] rohrlach commented on #17
Yes of course, it won't a frail parsing system.  I won't accept anything that isn't battle tested

[2017-04-05 14:27] helenvarley opened #19 "recording performances"
currently, UpStage performances can be recording by using third party screen recording software, and recording the browser window. this is less than ideal for a number of reasons (different people use different software & have different screen resolutions so editing together from different recordings is difficult; no-one has a complete archive of recordings; there is a learning curve for recording

[2017-04-05 14:28] helenvarley opened #20 "customisable stage"
it would be cool if the arrangement of the stage could be customised, for example if you wanted the chat window on the left or the right, or even not there at all.

[2017-04-05 14:32] helenvarley opened #21 "chat font size - audience control"
it should be possible for audience members to alter the size of the font in the chat window on their own computer so that if they have trouble reading small print, or if it is a computer that is projecting for a theatre audience, the font can be adjusted to a suitable size. something like simple buttons either at the top or bottom of the audience chat window.

[2017-04-05 14:33] helenvarley opened #22 "chat font size - player control"
it would be cool if players could adjust the size of an avatar's text in the chat window (& ideally in the speech bubbles too), for effect.
this is not a very high priority thing, just writing it down while i think of it.

[2017-04-05 21:25] rohrlach commented on #21
A11Y is an important consideration... Something I'm considering our options on.

[2017-04-05 21:27] rohrlach commented on #20
Could you provide specifics around the types of controls you would like? Perhaps just as bullet points - add them to this ticket as you think of them.

[2017-04-06 10:33] helenvarley commented on #21
i had to look that up :) (http://a11yproject.com/)

accessibility has always been really important - from the beginning we wanted something that would be easy for audiences (& players) to access, with as few barriers as possible to a good experience. UpStage is still one of the most accessible live environments that i've experienced so i think we are doing pretty well, but there is always room for

[2017-04-06 10:40] helenvarley commented on #20
ok; maybe it should really be more than one ticket, but for now ...

- chat window: can be positioned on left or right side of screen, or hidden entirely; this probably should be something that is set in the stage edit screen & is for everyone for the whole performance.

- tool palettes: can be moved to different positions, or hidden entirely (for example if you're not using props in a performance

[2017-04-06 12:29] rohrlach commented on #21
Sure :)

It's also something that evolves over time so we'll just need to keep an eye on it.

[2017-04-06 12:30] rohrlach commented on #20
That was my assumption :) Your bullet points are great for separate issues 👍

[2017-04-06 13:54] helenvarley commented on #20
ok, i'll make a new one for the tool palettes :)

[2017-04-11 01:26] rohrlach opened #25 "Production configuration still makes updates difficult"
- [x] Move database names to environment variables with fallbacks
- [x] Make Puma port interchangeable with unix socket through logic (Default behavior the same)

[2017-04-11 02:32] #25 closed

[2017-04-11 02:49] rohrlach commented on #16
@helenvarley, @vickis when I add the 'test' label it means that I've deployed this onto the server for you to test

[2017-04-11 03:15] rohrlach commented on #16
Any instance where a solution doesn't work or meet specification, note them on the issue.  If you feel you would like to change the functionality in some way (in hindsight) raise a new issue for the changes.

IE: What the ticket states is what it should be tested against.  If requirements change, there should be a new issue created.

[2017-04-11 03:23] rohrlach opened #28 "Panel footers displaying incorrectly"
The bootstrap panels used throughout the UI occasionally display the footer incorrectly as shown below:

![screen shot 2017-04-10 at 4 00 24 pm](https://cloud.githubusercontent.com/assets/2830313/24891539/6bedc248-1e44-11e7-91af-2d43bba1e548.png)

Taken from Chrome 57 (64-bit) on macOS Sierra

[2017-04-11 08:39] helenvarley commented on #16
tested: it worked in that a new stage appeared, called "hentest (clone)", however the media item (applause audio) that was already on hentest, has not appeared on the clone.
the clone should have all the same media, players & other settings as the original stage.

[2017-04-11 12:12] rohrlach commented on #16
Confirmed.

I'll look into it.

[2017-04-12 01:20] rohrlach commented on #6
@Tawpin I don't think the chat/controls panel is meant to overlap the stage

![screen shot 2017-04-11 at 9 19 27 pm](https://cloud.githubusercontent.com/assets/2830313/24937137/9d239532-1efc-11e7-9e40-3fecabf149ef.png)

[2017-04-12 06:15] vickis commented on #6
the drawing palette looks clear but does the colour only have that limited range of options?
and yes the chat/palettes if movable need to still allow for a clear stage space (where the action is!)

[2017-04-12 15:05] rohrlach commented on #6
For now, the colour range is okay.

I want the performance space to have all the features in it before I ramp up the number of options for each feature.

[2017-04-12 15:08] rohrlach opened #29 "Fix callable associations"
Accessing a stages media and/or avatars should be callable like so:
[code]

Rather than:
[code]

[2017-04-12 15:09] rohrlach commented on #16
@helenvarley the issue is quite easily fixed.  However, I'm going to resolve #29 before I address this as it makes no sense to fix an issue based on APIs that will soon fall away.

[2017-04-12 15:26] helenvarley opened #30 "stage does not resize"
on my 13" screen, the right-hand edge of the stage and tool palette are hanging off to the right, and resizing the window doesn't change this. the stage needs to adjust/scale to the proportions of the browser window (it has always done this in UpStage). i think the bottom may also be cut off.
i'm trying to upload a screenshot but it's not working ...
![Uploading Screenshot 2017-04-12.png…]()

[2017-04-12 15:28] helenvarley commented on #6
does this mean that there won't be the same layer concept in the drawing palette? instead a number of "pens" that can draw in a single layer? how to make a "curtain" of drawing at the front of everything, or a background drawing behind avatars? can multiple players draw at the same time?
(i guess these things probably should be a separate drawing palette issue??)

[2017-04-12 15:50] rohrlach commented on #6
I assume that multiple players can draw at the same time but there's no concept of layers at this point. This should be a separate issue.

[2017-04-12 15:55] rohrlach commented on #30
@helen your screen shot doesn't appear to work can you try again?

[2017-04-12 17:52] #29 closed

[2017-04-12 17:55] rohrlach opened #32 "Styling inconsistencies"
![screen shot 2017-04-12 at 1 40 06 pm](https://cloud.githubusercontent.com/assets/2830313/24971910/9370fe68-1f87-11e7-8c63-ca8a8ac73fe3.png)
![screen shot 2017-04-12 at 1 40 15 pm](https://cloud.githubusercontent.com/assets/2830313/24971911/93755300-1f87-11e7-8476-581290d46ef4.png)

Styles that apply to the performance screen should not override those elsewhere.

Chrome 57 on macOS Sierra

[2017-04-12 17:57] vickis commented on #6
Ah ok all good :)

[2017-04-12 19:06] helenvarley opened #33 "layers for drawing"
in UpStage there are 4 "layers" for drawing, which means that a player can select to draw in front of, between or behind avatars, or behind the backdrop. this is quite a useful feature, for example if you want to draw a "curtain" over everything, or have avatars in front of drawings, or reveal a drawing when a backdrop is removed.

with the 4 layers, only one player at a time can draw in each laye

[2017-04-12 19:11] helenvarley opened #34 "manipulating drawings"
currently in UpStage it is possible to "clear" (erase) all the drawing in a layer, or to hide/show it, or to fade it in & out. it would be great if this could be enhanced so that you could:
- erase part of a drawing
- select and move a drawing or section of drawing
- scale a drawing or section of drawing (make it larger or smaller)
- rotate a drawing or selection of drawing

these things were poss

[2017-04-12 19:12] helenvarley commented on #30
![screenshot 2017-04-12](https://cloud.githubusercontent.com/assets/3437324/24975072/b96247de-1fc4-11e7-937f-800d26cc55e1.png)

[2017-04-12 23:53] rohrlach commented on #34
@helenvarley could you please make each of your bullet points a separate issue?  You can then leave the supplemental information in this issue and reference it in the subsequent issues by hashtagging this one (ie: #34)

[2017-04-12 23:55] rohrlach commented on #33
I'm going to constrain the scope of this issue to just having 4 layers of canvas for now.

[2017-04-12 23:57] rohrlach commented on #33
- [ ] Performance canvas should have 4 layers which overlap but do not affect one another.
- [ ] When drawing, players can select the layer they wish to draw on.

[2017-04-13 09:36] helenvarley opened #35 "drawing: erase part or all of a drawing"
it should be possible to erase part or all of a drawing. previously in UpStage it has only been possible to clear an entire layer, which means that if you make a mistake or for whatever reason want to remove part of what you've drawn, you have to remove the entire thing.

could there be one button to clear the whole layer, & another that is an eraser tool that can be used to rub out any part of a

[2017-04-13 09:38] helenvarley opened #36 "drawing: select and move part or all of a drawing"
it would be good to be able to select part or all of a drawing and move it to another part of the stage.

[2017-04-13 09:38] helenvarley opened #37 "drawing: scale part or all of a drawing"
it would be good to be able to select part or all of a drawing and scale it (larger or smaller).

[2017-04-13 09:39] helenvarley opened #38 "drawing: rotate part or all of a drawing"
it would be good to be able to select part or all of a drawing and rotate it.

[2017-04-13 09:39] helenvarley commented on #34
done :)

[2017-04-13 15:39] rohrlach commented on #35
Relates to #34

[2017-04-13 16:51] rohrlach opened #40 "Stage Media Eager Load"
Eagerly load media and avatars in the following places:
- [ ] Performance action on the Theatre controller
- [ ] Show action on Stages controller

Eagerly load stage in following places:
- [ ] Show action on Media controller
- [ ] Show action on Avatars controller

Eagerly load media in the following places:
- [ ] Show action on the Avatars controller

[2017-04-14 19:50] rohrlach commented on #6
My mistake - I noticed that my deploy script was out-of-date.

![screen shot 2017-04-14 at 3 49 25 pm](https://cloud.githubusercontent.com/assets/2830313/25054252/0bcc378a-212a-11e7-8aed-4b7aa46da475.png)

[2017-04-14 19:52] rohrlach commented on #30
@helenvarley This may have been fixed due to resolution of #6 please retest

[2017-04-15 00:34] rohrlach commented on #28
Superseded by #32

[2017-04-15 00:34] #28 closed

[2017-04-15 00:38] rohrlach opened #42 "Error page displayed when trying to view media"
![screen shot 2017-04-14 at 8 38 34 pm](https://cloud.githubusercontent.com/assets/2830313/25059325/5b4b51ba-2152-11e7-861a-564a4f108076.png)

[2017-04-15 00:41] rohrlach commented on #42
Log output:
[code]

[2017-04-15 16:29] rohrlach commented on #42
Relates to #29

[2017-04-15 17:35] rohrlach commented on #42
Caused by StageMedium record referring to a Stage record that has been deleted.

Deletions need to cascade

[2017-04-15 17:51] rohrlach commented on #42
Also needed to manually delete unnecessary records.

[2017-04-15 17:51] #42 closed

[2017-04-15 23:40] rohrlach opened #44 "Suggestion of Duplicate Media Assignment"
User should not be given the option to assign media to a stage if it has already been assigned

![screen shot 2017-04-15 at 7 37 56 pm](https://cloud.githubusercontent.com/assets/2830313/25067491/5097365a-2213-11e7-875c-a4131575a1bb.png)

[2017-04-15 23:43] rohrlach opened #45 "Suggestion of Duplicate Avatar Assignment"
User should not be given the option to assign an avatar to a stage if it has already been assigned

![screen shot 2017-04-15 at 7 38 51 pm](https://cloud.githubusercontent.com/assets/2830313/25067497/97c74c40-2213-11e7-87b3-69372fa5e48b.png)

[2017-04-17 14:39] helenvarley commented on #30
it's better; but i'm still getting scrollbars, & the bottom of the chat window is below the bottom of the browser window. (using firefox on 13" mac)
![screen shot 2017-04-17 at 4 37 55 pm](https://cloud.githubusercontent.com/assets/3437324/25092076/63ed7d84-238c-11e7-9320-0af77e11a73b.png)

[2017-04-17 14:40] helenvarley commented on #30
on my new ubuntu 14" laptop i'm also seeing scrollbars, both at the side and the bottom.

[2017-04-17 14:55] rohrlach commented on #30
Okay, so:

- Working fine on WebKit based browsers
- Needs addressing on Gecko based browsers

Not sure if anyone has the capacity to test on Trident or Edge?

[2017-04-17 18:18] helenvarley commented on #30
er ... what browsers are those? most important is that it works well on firefox, chrome, safari & any other that has a major presence (does IE still get used much? most windows users i know are using firefox or chrome)

[2017-04-17 18:21] rohrlach commented on #30
WebKit powers Safari
Blink powers Chrome and Opera (Blink is a fork of WebKit)
Gecko powers Firefox
Trident powers Internet Explorer
Edge powers well... Edge

[2017-04-17 19:58] helenvarley opened #46 "chat nicknames: audience can choose their own, or have none"
audience members should have the option to choose their own nickname when they enter a stage, or have no nickname in which case their chat will appear without any preceeding nickname (not audience, guest, or anything, just their chat - as audience text currently works in UpStage).

[2017-04-17 19:59] helenvarley opened #47 "chat nicknames: player usernames can be shown or not"
when a player is chatting on a stage without holding an avatar, the default should be that their username appears before their text. but it should also be possible for the username to be hidden/ not appear, so that their text appears as an anonymous audience member.

[2017-04-17 20:01] helenvarley opened #48 "chat nicknames: change nickname"
players should be able to change their chat nickname at any time, whether or not they are holding an avatar.

[2017-04-17 20:16] helenvarley opened #49 "media browser: searchable by filters"
the media browser should be searchable / sortable by the following filters:

- [ ] media item name
- [ ] media type
- [ ] uploader (player)
- [ ] stage
- [ ] tags
- [ ] date uploaded

[2017-04-17 20:58] helenvarley commented on #30
ok; the students are probably able to test on IE. could we assign that to them? & do we need to worry about Edge? we do want to be as accessible as possible, but at the same time we have to be realistic about what we can achieve.

[2017-04-18 21:40] rohrlach commented on #47
Should be two issues.

One saying that the player's username should appear before their messages
The other that there should be an ability to mask their name

[2017-04-18 21:47] rohrlach commented on #30
It should be easier to be compatible with Edge than IE . (Edge is the IE replacement as of Windows 10)

I'll assign this to them in the next sprint

[2017-04-19 07:48] helenvarley opened #50 "nicknames: player usernames can be hidden"
it should be possible for a player to hide their username in the chat window, so that their text appears as anonymous audience text.

[2017-04-19 07:49] helenvarley commented on #47
done :) #50

[2017-04-24 13:31] blankgaming commented on #7
Hi Paul,
Jason and I(Kit)  had created a check_box_tag but we cant modify the check box to be able to shout or broadcast on its on, we tried looking into the "<option class=....>" , we are not sure on how the data-chat-mode is linked to the message_type. We cant set the option class in the checkbox without a dropdown.

[2017-04-24 13:34] blankgaming commented on #7
option class*, we are not sure....

[2017-04-25 10:52] rohrlach commented on #7
Can you try to make sure you push your code up into the repo regularly? That way I can actually see what you've done and can reference it here.

[2017-04-25 11:05] blankgaming commented on #7
Yes, sure. Will do so in the future.  Sorry for not uploading it.

[2017-04-25 11:07] rohrlach commented on #7
Not a problem - it just makes life easier

[2017-05-02 14:10] rohrlach commented on #17
Solved by #51

[2017-05-02 14:44] helenvarley commented on #17
this is all looking great :)
however, audience aren't able to post clickable links. it's quite important that they can, as often audience want to contribute links that they have found.
(we have NEVER had a problem in 14 years of UpStage, but it occurs to me that it could be useful for players to be able to remove links posted by audience - e.g. if someone puts in links that are advertising, porn,

[2017-05-02 14:46] rohrlach commented on #17
@helenvarley Yes - Separate issue for removing links
@Tawpin - Please amend so that audience members can post links

[2017-05-02 15:00] rohrlach commented on #17
@Tawpin:
You simply need to autolink all message.content references
[code]

[2017-05-02 16:30] helenvarley opened #52 "removing links from the chat"
Players should have the ability to remove links posted into the chat, if they are for any reason inappropriate.

[2017-05-02 17:02] rohrlach opened #53 "Issue with Rails 5.0"
![screenshot from 2017-05-02 13-00-59](https://cloud.githubusercontent.com/assets/2830313/25629440/7e0aeb3c-2f37-11e7-9a30-5425430f21d2.png)

The above issue occurs due to a bug in rails that was patched on June 27 2016 https://github.com/rails/rails/pull/25192/commits

[2017-05-02 17:03] rohrlach commented on #53
Opting to patch all dependencies

[2017-05-02 17:45] rohrlach commented on #53
Deploy due at 14:00 ET

[2017-05-02 17:56] rohrlach opened #55 ":Fixnum deprecation"
[code]

[2017-05-02 18:08] rohrlach commented on #55
Fixed by #54

[2017-05-02 18:08] #55 closed

[2017-05-02 18:41] #40 closed

[2017-05-02 19:09] #53 closed

[2017-05-02 19:20] rohrlach opened #56 "form_with"
As of Rails 5.1 ```form_for``` and ```form_tag``` have been combined as ```form_with```

This issue calls for the migration of all affected calls to be appropriately amended

See: http://edgeguides.rubyonrails.org/5_1_release_notes.html#unification-of-form-for-and-form-tag-into-form-with

[2017-05-03 13:50] rohrlach opened #58 "Prop Resource"
This issue relates to #11 and calls out the need for a Prop Resource and subsequent Stage assignment resource.  This resource should be in the style of the existing Avatar and AvatarStage resources in that they will have a name and relate to a Medium resource

[2017-05-03 14:55] rohrlach opened #59 "Tagging"
Authenticated users should be able to add tags to resources throughout the system such that media and the like can be searched and/or sorted based on them.

[2017-05-03 14:57] rohrlach opened #60 "Tag Resource"
Relates to #59

A Tag resource should be created as follows:
- [ ] uses soft deletion
- [x] has a name field of type string

[2017-05-03 15:00] rohrlach opened #61 "Tag/Media Assignment"
Relates to #59

- Tags should be assignable to Medium objects in a many-to-many relationship
- Association resource to be created
- Association is destroyed on destruction of either the Medium object or the Tag object

[2017-05-03 15:00] rohrlach opened #62 "Tag/Stage Assignment"
Relates to #59

- Tags should be assignable to Stage objects in a many-to-many relationship
- Association resource to be created
- Association is destroyed on destruction of either the Stage object or the Tag object

[2017-05-03 15:01] rohrlach opened #63 "Tag/Avatar Assignments"
Relates to #59

- Tags should be assignable to Avatar objects in a many-to-many relationship
- Association resource to be created
- Association is destroyed on destruction of either the Avatar object or the Tag object

[2017-05-03 18:09] rohrlach commented on #60
Opt to use hard deletion instead as tags (at this stage) are trivial

[2017-05-03 18:09] #60 closed

[2017-05-04 13:16] rohrlach commented on #7
@blankgaming @Tawpin how's this going? it's now well behind schedule.

[2017-05-04 13:19] rohrlach commented on #17
Rework is due to be deployed at 10am ET

[2017-05-04 15:25] helenvarley commented on #7
from a user perspective, selecting "shout" from a dropdown menu is considerably slower than the previous method of simply typing ! before your text. is it possible to have both options? the dropdown menu is easier for newbies, but the ! method is much faster.

[2017-05-04 15:26] helenvarley commented on #7
also with the dropdown menu, it should only work once - i.e. it makes the next line of text be a shout, then defaults back to normal. at least, i think this is how it should be ... @vickis can you comment?

[2017-05-04 15:27] helenvarley commented on #17
looking good - have tested & chat links work with the shout command, and when input by audience :)
note that when we have the think command as well, links should also work in that ... & if we are still able to have the splash message that shows up at the top of the blank chat window, it would also be good for links to work in that too ... (separate issues ... ???)

[2017-05-04 15:32] rohrlach commented on #61
Scheduled for deployment in half an hour

[2017-05-04 15:33] rohrlach commented on #7
@helenvarley We're currently working to switch it to a check box - I think we SHOULD add syntactical shortcuts - But as a separate issue as an extension to this one :)

[2017-05-04 15:34] rohrlach commented on #17
Yes - Separate :)

[2017-05-04 15:35] rohrlach commented on #17
@helenvarley Feel free to close this issue if you are happy with it (assuming extension issues down the road

[2017-05-04 15:50] rohrlach opened #68 "Show Media Page Audio Tag Not Working"
On the Show Media page, audio tags are added but do not display any media controls so that the user can play the file.

the _medium.html.erb file needs to be corrected so that it works like so:
https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_audio

[2017-05-04 18:09] rohrlach opened #69 "Rails 5.1 Default ID Type"
In Rails 5.1, the default column type for ID fields is ```:bigint``` rather than ```:integer```

http://edgeguides.rubyonrails.org/5_1_release_notes.html#active-record-notable-changes

[2017-05-04 18:32] rohrlach commented on #69
@helenvarley @vickis - This is actually going to be a pain.  My plan is to cut everything over in one foul swoop and be done with it (It won't change again in a hurry) But it will mean that we have to destroy the existing database.  Thank god they decided to do this NOW

[2017-05-04 18:34] helenvarley commented on #61
not sure how to test this? i don't see tags anywhere ...

[2017-05-04 18:36] helenvarley opened #72 "shortcuts"
please can we have keyboard or syntactical shortcuts for common things, e.g. still being able to use ! to activate shouting mode as a quicker method than the dropdown menu.

[2017-05-04 18:37] helenvarley opened #73 "think links"
links posted in "thoughts" should be clickable in the chat window, the same as when posted in ordinary speech, shouting, or audience text.

[2017-05-04 18:39] helenvarley opened #75 "splash message - clickable links"
links posted in the splash message (the text that displays while the stage is loading, & at the beginning of a blank chat window) should be clickable & open in a new tab (the same as other links in the chat window).

[2017-05-04 18:39] #17 closed

[2017-05-04 18:39] rohrlach commented on #61
@helenvarley deploy failed... See #69  Where Rails screwed us over in their latest update

[2017-05-04 18:41] helenvarley commented on #61
ah ok. i will look again tomorrow then :) have fun!

[2017-05-04 19:02] rohrlach commented on #69
Cut over complete!
@vickis @helenvarley - you will need to go through the registration process again

(Which, whilst annoying, does mean it gets tested again)

[2017-05-04 19:02] #69 closed

[2017-05-04 19:03] rohrlach commented on #61
#69 resolved and this this can now be tested

[2017-05-04 19:22] rohrlach commented on #72
@helenvarley You'll need to provide a list of specifically all the shortcuts you want ;)

[2017-05-04 19:23] rohrlach commented on #75
Fair enough.. But as it stands, we don't actually NEED a loading screen ;)

...yet

[2017-05-04 19:39] rohrlach commented on #59
Replacing parent issue with issue tag

[2017-05-04 19:39] #59 closed

[2017-05-04 20:11] rohrlach commented on #63
Due to deploy in 50 mins

[2017-05-04 22:31] vickis commented on #69
awesome yes - big job otherwise!!

[2017-05-04 22:36] vickis commented on #69
ok i went to register - and logged in as admin
all the players appear to still be there …

er am i missing something?

[2017-05-04 22:38] rohrlach commented on #69
Are you looking at limelight?

[2017-05-05 00:25] rohrlach commented on #62
Due for deployment in 35 minutes

[2017-05-05 00:25] vickis commented on #62
ok back on board

[2017-05-05 00:28] rohrlach commented on #69
@vickis you may need to do a CMD+shift+r

[2017-05-05 00:48] rohrlach commented on #73
Is there any reason why all forms of speech can't/shouldn't include this?

[2017-05-05 03:13] rohrlach opened #81 "Tags Index"
The tags index page should display a table of all the tags in the system.  It should provide a count of how many records it is assigned to and also provide a button to remove the tag from the system.

[2017-05-05 03:15] rohrlach opened #82 "Tag Details Page"
The tag info page should provide a table of all the records that the tag is assigned to.  It should also have a column for the record type and should be sortable

[2017-05-05 08:55] helenvarley commented on #69
i tried logging in with my existing login, but it didn't work (as expected). so i re-registered, & the message on screen was "Registration complete. You will be notified once your account has been activated, please check your email to confirm your address "
i got the email & clicked on a link, & got the message "Thank you, your email address has been confirmed "
then i tried to log in, & got the m

[2017-05-05 08:56] helenvarley commented on #69
i don't know/have forgotten how to log in as admin on limelight, so i can't activate my account ...

[2017-05-05 10:24] rohrlach commented on #69
I've activated you,

I removed the default admin account for security

On Fri, May 5, 2017, 04:57 Helen Varley Jamieson <notifications@github.com>
wrote:

--

Paul Rohrlach

Software and Systems Engineer

+1 (647) 654-3727
paul.rohrlach@matrixbug.com

[2017-05-05 12:35] helenvarley commented on #61
tested & it works - able to add & remove tags. tag suggestions (previously used tags) appear in a dropdown which is helpful as it should help to reduce multiple similar tags being created.

now all we need is a way to sort media by tag ... i assume that's coming :)

[2017-05-05 12:35] #61 closed

[2017-05-05 12:36] helenvarley commented on #72
ok; this requires some time, & for sure i won't think of them all at once. @vickis will no doubt have some ideas on it too.

[2017-05-05 12:37] helenvarley commented on #72
- [ ] type ! before text to activate shouting mode

- [ ] type : before text to activate thinking mode

[2017-05-05 12:40] helenvarley commented on #75
hah - good point! then what about just having intro text in the chat window? this is useful, to have something there when people arrive too early.

actually, it would be a nice feature to be able to put a sign onto the stage - this has come up before - some kind of text message that can be placed on the stage before/after shows (or even used in performance) to ensure that everyone in the audience

[2017-05-05 12:42] helenvarley opened #83 "static on-stage text message"
player(s) can create a static on-stage text message, that persists on stage until such point as a player removes it. this could be used before a show to give information about the performance for anyone who comes early, after a show to give credits, or even during a show for scene breaks or other "announcements".

if possible, it should be able to be created directly on the stage, in real time.

[2017-05-05 12:45] helenvarley commented on #63
tested on the avatar Snoopy, successfully added and deleted a tag.
(not able to test on another avatars as upload doesn't work but i assume that's coming)

[2017-05-05 12:45] #63 closed

[2017-05-05 12:46] helenvarley commented on #69
great, i got the email that my account is activated, & i'm in there testing now :)

[2017-05-05 12:48] rohrlach commented on #63
Upload doesn't work?

Can you submit a bug for that?

[2017-05-05 12:49] helenvarley commented on #62
tested - added tags to walkthrough stage, removed one, all working as expected :+1:

[2017-05-05 12:49] #62 closed

[2017-05-05 12:50] rohrlach commented on #75
Superseded by #83

[2017-05-05 12:50] #75 closed

[2017-05-05 12:50] helenvarley commented on #73
yes, all forms of speech should display links as clickable.

[2017-05-05 12:51] rohrlach commented on #61
@helenvarley Yes - #82 :)

[2017-05-05 12:52] helenvarley commented on #81
can it also be sortable? e.g. alphabetically ascending & descending, & perhaps also by date?

[2017-05-05 12:54] rohrlach commented on #81
What's the use case for dates?

[2017-05-05 13:01] helenvarley opened #84 "avatar upload doesn't work"
i'm not able to upload an avatar, because there is no "browse" button visible on the upload screen https://limelight.upstage.org.nz/avatars/new (when i go to "create new media" there is a "browse" button between the "name" and "image" fields).
![create_new_avatar](https://cloud.githubusercontent.com/assets/3437324/25746418/a5b37956-31a3-11e7-99c3-79603801ebb3.png)

[2017-05-05 13:01] helenvarley commented on #63
done

[2017-05-05 13:05] helenvarley commented on #81
if you had a show or project or workshop at a specific time & want to find the tags that you used; or if there are duplicate similar tags & you want to make them all be the most recent one used; or if there gets to be an excess of tags & you want to just purge ones that have been used only once ages ago ... ???

[2017-05-05 13:19] rohrlach commented on #81
So... I kind of already thought of that. Duplicate tags can never happen in the sense that if you try to create a duplicate the system will simply reference the existing one.

Also (And I haven't created an issue for this yet) but I've constructed a clean up job that removes all tags that aren't assigned to anything - and then if you want to use an old tag again, it'll just recreate it.

[2017-05-05 13:26] rohrlach opened #85 "Nest Media Creation Form in Avatar Form"
It should be possible for users who are creating or editing avatars, to also manipulate the underlying Medium record within the same page

[2017-05-05 13:29] rohrlach commented on #84
This is actually by design.  Avatars reference an existing Media record rather than holding that information themselves.  This is so we can optimize disk usage etc. in the instance where the same image may be used as an Avatar, Prop, Wallpaper etc.

I've raised #85 in the interest of a better user experience

[2017-05-05 13:29] #84 closed

[2017-05-05 13:41] helenvarley commented on #84
ok; but it's not clear to me how i make something an avatar. snoopy shows up in the media list & also in the avatar list, & in a dropdown menu. but if i want to make lady godiva into an avatar, what do i do?
and where do i assign voices?
and what about uploading a series of pngs? (or are there going be other options for animations?)

[2017-05-05 13:46] helenvarley commented on #81
that sounds great.
will the system recognise when people write things like "theatre" and "theater"?
or "performance" and then "perfromance"?
or "walkthrough" and "walkthru"?
;)

[2017-05-05 13:56] rohrlach commented on #84
The fact that the name snoopy shows up twice is simply because I named the Medium instance Snoopy as well as the Avatar.

We don't have voices yet - But it'll be the same page

[2017-05-05 13:57] rohrlach commented on #81
Haha it could in future I guess.  If I find a decent synonym gem.

It tries to account for this by standardizing case and performing character replacements.

[2017-05-05 15:00] rohrlach opened #87 "Make Medium a Second-Class resource"
- [x] Strip away the concept of owner
- [x] Strip away the concept of media_type
- [x] Strip away the concept of name
- [x] Remove Media as a resource
- [x] Remove Media tagging
- [x] Remove ability to assign media to stages
- [x] Plan new way to utilize sound

[2017-05-05 15:57] rohrlach commented on #85
Deploys in 3 minutes

[2017-05-05 15:57] rohrlach commented on #87
Elaborates on #85

[2017-05-05 18:55] #87 closed

[2017-05-05 18:59] #68 closed

[2017-05-05 19:00] rohrlach opened #90 "Audio Resource"
- [ ] Belongs to a Medium record
- [ ] Nested Medium creation
- [ ] Has name
- [ ] Soft destroy
- [ ] Slugged URI

[2017-05-05 19:51] rohrlach opened #92 "Assign Sounds to Stages"
Users should be able to assign sound records to stages in the same way that Avatars are

[2017-05-05 20:11] rohrlach opened #93 "Sounds Tagging"
Users can tag Sound resources using the same tagging infrastructure we already have

[2017-05-06 12:16] rohrlach opened #95 "Constrain Upload Formats"
When uploading files, users should not be allowed to upload whatever they like.

Specifically:
- [ ] When adding an Avatar, users should only be able to upload images
- [ ] When adding a Sound, users should only be able to upload audio files

[2017-05-06 12:17] rohrlach opened #96 "Migrate Avatars to Paperclip"
Rather than using naive file upload code that we must maintain ourselves, let's use [Paperclip](https://github.com/thoughtbot/paperclip) gem

[2017-05-06 12:18] rohrlach commented on #96
Do this before #95

[2017-05-06 13:04] helenvarley commented on #84
ok. & what about formats? (png, jpg, gif, swf ... ??) & a series of images?

[2017-05-06 13:09] rohrlach commented on #84
Don't know yet - I'm overhauling the upload process at the moment

[2017-05-06 13:10] helenvarley commented on #95
do we need to specify filetypes at this stage? e,g, can we upload audio files other than mp3s?

it would be great to have as wide a range of filetypes as possible, but i know this may not be realistic. so it's good to know what is possible.

[2017-05-06 13:21] rohrlach commented on #95
So I'm simply saying "Must be image" or "Must be audio" I'm not going to dictate specific formats

[2017-05-06 13:28] rohrlach commented on #96
@helenvarley @vickis The goal of testing here is basically to see if Avatars aren't broken

[2017-05-06 13:29] rohrlach opened #98 "Migrate Sounds to Paperclip"
We should use Paperclip for uploading audio files with Sound resources

[2017-05-06 13:57] rohrlach commented on #85
Superseded by #96

[2017-05-06 13:57] #85 closed

[2017-05-06 14:29] helenvarley opened #101 ""forgot password" link doesn't work"
my login stopped working today, so i tried the "forgot password" link & entered my email; the on-screen message said to check my email for instructions. nothing has arrived.

[2017-05-06 14:31] rohrlach commented on #101
I have tested the process and it works as expected - Check your spam folder?

[2017-05-06 18:26] rohrlach opened #102 "Avatar Index - Panel UX"
Avatars should be represented as tiles with a thumbnail and quick actions for each.

[2017-05-06 19:20] rohrlach opened #104 "Avatar Index - Table UX"
Users should have the ability to toggle a tabled list of avatars rather than the panelled list (which will remain the default)

[2017-05-07 01:16] rohrlach commented on #7
@blankgaming @Tawpin - Could you please leave this and focus on your sprint 3 tickets?

[2017-05-07 01:23] rohrlach opened #106 "Shout"
When a Player is using chat:

- [x] Prepending their message with '!' should enable shout mode
- [x] Shouted messages should appear in the chat window as bold and in 0xff0000
- [x] There should also be a checkbox modifier near the input box that enables shout

Relates to #72 supersedes #7

[2017-05-07 01:24] #7 closed

[2017-05-07 09:54] helenvarley commented on #96
i successfully added a .png avatar, gave it a name & a tag, & assigned it to the walkthrough stage.

[2017-05-07 09:56] helenvarley opened #107 "Avatar List - default display"
the default display for the avatar list (https://limelight.upstage.org.nz/avatars) should NOT be the large icon; once there are more than a handful of avatars, this will be a really annoying way to view the media. the default should be a LIST, & probably without thumbnail - similar to how it is in UpStage v3 - & ideally sortable - by name, user/uploader (not currently shown at all), tags, stage, u

[2017-05-07 10:01] helenvarley commented on #98
successfully added .mp3 and .wav sound files

[2017-05-07 10:04] helenvarley opened #108 ""sounds" or "audio"?"
previously we have always talked about "audio" media; i notice that now it is "sounds". just wondering if there is a reason for this change & whether it would be worth having a bit of discussion about what the difference is?
i think "sounds" is fine for sound effects, but we also upload music clips, voice clips, etc that maybe "audio" is a more encompassing word for.
but then, as we will also be h

[2017-05-07 10:05] helenvarley commented on #95
ok; just to note - so far i have successfully uploaded a .png avatar, & had a fail on .swf. for sounds, i have successfully uploaded both .mp3 & .wav. that's all i've tried for now.

[2017-05-07 10:09] helenvarley commented on #101
wasn't it spam folder. but i tried again & this time it worked.
i followed the link & reset my password - & then came to a blank screen ...

[2017-05-07 10:16] helenvarley commented on #102
i am not convinced about the necessity of thumbnails - it will make the list very long to scroll down. i find the current layout in UpStage v3 pretty good - you can easily filter & then click on an item in order to see a thumbnail.

[2017-05-07 10:18] helenvarley commented on #102
being able to sort/filter by user/uploader, type, stage & date is important.

[2017-05-07 10:19] helenvarley commented on #102
do we need separate panels for avatars & sounds? can't it be all media, with option to sort/filter by type? (as in UpStage v3)

[2017-05-07 10:21] helenvarley commented on #104
i prefer tabled list as default (assume by panelled list you mean with the larger thumbnails?) - since as soon as there is more than a dozen or so avatars, having all the thumbnails displaying will be too much.

[2017-05-07 10:28] helenvarley commented on #93
from https://limelight.upstage.org.nz/sounds, i clicked on the "Edit" button for an audio item, it only gives me the option to change the name or browse to a new file. there is no option to add or delete tags.
from the same page, if i click on the name of the audio item, then i get the opportunity to add or delete tags. this seems quite illogical - surely both are "edit" screens, & it should be po

[2017-05-07 10:30] helenvarley commented on #90
not sure what we should test here - i have successfully uploaded 2 sound files, one mp3 & one wav.
i also tested deleting one of them, it worked. (then i reuploaded it).

[2017-05-07 10:32] helenvarley commented on #96
i added a jpg file & this also worked, but .swf did not.

[2017-05-07 13:04] rohrlach commented on #96
Yes swf is flash - we're ditching flash

[2017-05-07 13:05] rohrlach commented on #90
That's tested enough for me 🙂

[2017-05-07 13:07] rohrlach commented on #93
That's true - I should add tags to the edit screen too.. or I might consolidate them

[2017-05-07 13:07] rohrlach commented on #104
Righto

[2017-05-07 13:09] rohrlach commented on #102
Yes we can - raise an issue for it 🙂

[2017-05-07 13:09] rohrlach commented on #101
What browser are you using?

[2017-05-07 13:10] rohrlach commented on #95
Cool as, again - swf is dead

[2017-05-07 13:12] rohrlach commented on #108
We can certainly change the label.  The reason I went with sounds is that audio is an uncountable noun so the convention (in terms of the code) gets confusing

[2017-05-07 14:51] rohrlach commented on #96
@helenvarley based on your feedback, I consider this issue resolved.

[2017-05-07 14:51] #96 closed

[2017-05-07 14:51] #95 closed

[2017-05-07 14:52] #98 closed

[2017-05-07 14:52] #90 closed

[2017-05-07 14:55] helenvarley opened #109 "combine avatar & sounds panel into one media panel"
avatars & sounds can be displayed together in a media panel, similar to what we currently have in UpStage v3. the default display should be a sortable table, sortable by name, type, uploader, date, stage, tags ...

[2017-05-07 14:55] helenvarley commented on #101
firefox on ubuntu mate

[2017-05-07 14:57] helenvarley commented on #95
is there another format that can play animations? or at least at a minimum, we will need to be able to upload a series of pngs to have frame animation. but it would be good to have another format that can do sophisticated animations.

[2017-05-07 14:57] helenvarley commented on #108
ok, if there's a code reason that's fine, but for the interface audio might make more sense. @vickis do you have an opinion about it?

[2017-05-07 15:09] rohrlach commented on #93
@helenvarley I've made the change as per your feedback (And also applied it to Avatars and Stages).  Should deploy in about an hour.

[2017-05-07 15:10] rohrlach commented on #95
There are many - Which one makes sense for us will depend.  Could you raise an issue for 'Animated Avatars'?

[2017-05-07 15:11] rohrlach commented on #101
I think we'll have to look at this issue during our next meeting.

[2017-05-07 15:12] rohrlach commented on #108
It may eventually not even matter, considering #109

[2017-05-07 15:13] rohrlach commented on #109
Okay - should this then supersede #107 ?

[2017-05-07 15:16] rohrlach commented on #107
The reason I defaulted to the panels is that the panels interface is a LOT nicer on smaller screens.  Particularly for Avatars if you consider this scenario:

"I want to have an Avatar of myself so I use my phone to snap a photo then upload it directly"

[2017-05-07 18:15] helenvarley commented on #93
it's still not the same screen, clicking on the edit button or on the media item name. from the name you can add or delete tags, & listen to the file. from the edit button, you can do that and edit the name & replace the file. the edit button is still there when you click on the name, but why not go directly to edit? what's the purpose of the intermediary screen where you can only add/delete tags?

[2017-05-07 18:17] helenvarley commented on #95
will do. actually, we probably want to be as unrestricted as possible with formats in general. especially if we are able to pull media in on the fly from other sources e.g. vimeo/youtube/flickr etc ...

[2017-05-07 18:20] helenvarley opened #111 "Animated Images"
It should be possible to upload visual animations in multiple formats, as avatars, props or backdrops. These animations should be able to be manipulated on stage, i,e, play, pause, stop. (similar to what we can currently do in UpStage v3)

[2017-05-07 18:21] helenvarley commented on #101
it did work the second time i tried it - maybe i happened to do it at the same moment as you were deploying or restarting the server? should we retest?

[2017-05-07 18:22] helenvarley commented on #108
yes, i think it's a minor point, but what we have learned is that it's very important to be consistent in terminology, so that for example the user manual is clear, and there is no misunderstanding with multiple developers etc. so it's just a matter of making a decision.

[2017-05-07 18:28] helenvarley commented on #107
i think that's a good argument for having a nice preview show in the upload process; but for browsing media, i still think the list will be much easier to use in list format. you can see already that with only 3 items, the screen is already almost full. on my 14" screen, i will be able to see 4-5 items without scrolling. on live.upstage.org.nz there are currently 75 media items (that includes soun

[2017-05-07 19:13] vickis commented on #111
i uploaded leafy - a gif successfully :)

[2017-05-07 19:14] rohrlach commented on #107
Then it's settled

[2017-05-07 19:15] vickis opened #112 "assigning to stage"
i went to assign the leafy gif avatar to the stage but got this
![screen shot 2017-05-08 at 7 15 10 am](https://cloud.githubusercontent.com/assets/4249450/25784283/19f25438-33be-11e7-82ee-a654de05794d.png)

[2017-05-07 19:16] rohrlach commented on #101
Retest. Currently, limelight attempts to update itself hourly on the hour. There is perhaps a 30 second window in which it is offline

[2017-05-07 19:17] rohrlach commented on #112
Can you try it again? Could have been a timing issue with an update

[2017-05-07 19:19] rohrlach commented on #95
Currently, in each case it's just checking mime types for either 'audio' or 'image' it's not looking at specification

[2017-05-07 19:21] vickis commented on #104
yes toggle impt so users can decide which suits them best :)

[2017-05-07 19:22] rohrlach commented on #93
Ahh... I see what you're saying.

It's a convention. You can of course, raise an issue to remove these.

[2017-05-07 19:25] vickis commented on #107
could limelight detect user and present solution based on device?

[2017-05-07 19:28] vickis commented on #93
ideally the tags would be added initially on upload (as per good meta data processes :)

[2017-05-07 19:29] rohrlach commented on #107
Yes of course.

In fact - I'd have done that originally except we have limited server resources so I figured if I could get away with less cycles it'd be better

[2017-05-07 19:32] vickis commented on #112
yep still not working either in firefox or chrome...

[2017-05-07 19:32] rohrlach commented on #93
@vickis - agreed. But that's actually a non trivial task so can we have a separate issue for adding tags at creation time?

[2017-05-07 19:35] rohrlach commented on #112
Okay. Error actually occurs when accessing Stage Edit screen. - good catch 😇

[2017-05-07 19:37] vickis commented on #111
having a quick way to manipulate animated avs would be good (as in the old /a # etc ...) or /b #

[2017-05-07 19:42] vickis opened #113 "adding tags as media is uploaded"
users are prompted to add tags when they upload media - not adding tags does not stop the upload process but is a persuasion to adhere to good metadata practices

[2017-05-07 19:47] vickis commented on #109
agreed - to the sort by & your suggestion Paul

[2017-05-07 20:29] helenvarley commented on #101
so i tested again, & got the email; the "reset password" screen is not totally intuitive, as it has my existing password as black dots in the first field, & in the second field it says "confirm password" - no other instructions - & the button says "reset password". i think we need some text on this page telling the user to enter a new password.
then when i have entered the password & hit the "rese

[2017-05-07 21:56] rohrlach opened #115 "Remove Media Show Page"
The is no reason for Media types to have an actual page associated with the show action.  Instead, all links that point to this page should instead link directly to the Edit page

[2017-05-07 22:31] rohrlach commented on #107
Superseded: #109

[2017-05-07 22:31] #107 closed

[2017-05-08 08:28] helenvarley opened #117 "Deleting Media - red cross confusing"
the large red X button for deleting media is a bit confusing - i thought at first it was to close the edit screen & return to the media list.
could it be a trash can icon instead? & have rollover text that says something like "delete media item" ?

the pop-up window that says "{name of media item} will be removed" is also a bit abrupt. could it say something like "Are you sure you want to delete {

[2017-05-08 08:32] helenvarley commented on #115
great :)
i have some comments about the layout of the media edit page, but i'll open a separate issue for that.

[2017-05-08 08:32] #115 closed

[2017-05-08 08:37] helenvarley opened #118 "Layout of Media/Avatar edit screen"
currently the media edit screen is largely taken up by a full-size image of the media item, which makes it necessary (on my small screen) to scroll down in order to replace the file and access the Update button. presumably there is more to come on this page as well, e.g. voice options, download, etc.
there's no need to have a full-size image - it could be similar to UpStage v3 where there is a "pr

[2017-05-08 08:39] helenvarley commented on #107
the default display is still the large icons, not the list ... ??

[2017-05-08 08:40] helenvarley commented on #109
both of these issues are closed but the default display is still icons rather than list ... ??

[2017-05-08 09:03] vickis commented on #112
Yes working - added map deleted lady godiva ... but cannot access the stage to check if they are there...

[2017-05-08 09:27] vickis commented on #117
actually it seemed intuitive to me
(+ & green for add x red for delete )
- agree rubbish bin more generic though

checking before deleting is good

[2017-05-08 09:30] vickis commented on #118
is the thumbnail sizing to do with scarcity (will they decrease once more items are there?)
i am currently not having a size issue (but on 17" screen)

is this for ease also on mobile devices?
preview of larger image definitely if decreasing thumbnail  size  :)

[2017-05-08 14:17] helenvarley commented on #117
a red cross is also a fairly universal symbol for closing a window/pop-up/panel. that's what confused me. if it's next to the green + as it is for adding & deleting tags, it's clearer; but when it's at the top right of a screen, it can be read as a way to close the window/go back to the media list.

[2017-05-08 14:21] rohrlach commented on #117
Will see if we have a trash icon in the pack. I agree that the wording should be a question... However the choices are currently 'cancel' and 'ok' which can't be changed without moderate effort.  I'm happy to keep this as the goal and perhaps drop it's priority for the time being

[2017-05-08 14:22] rohrlach commented on #118
Yes - the image is responding to the fact that there's not much on the grid currently (I expect this to change) let's come back to this once we've got all the intended info there

[2017-05-08 14:23] rohrlach commented on #109
Ahh D'oh! Forgot to push that commit... It's done, just not deployed yet

[2017-05-08 22:11] JoeIceCream commented on #44
Hi Paul, I've been wanting to do some testing on this whilst running the UpStage website so that I could attempt to get the same outcome as the screenshot you've provided. Do you have any suggestions as to what media I could use? Or do we have some media already that I'm not aware of?

[2017-05-08 22:16] rohrlach commented on #44
@JoeIceCream The media itself doesn't matter - You can test with whatever you like - The issue is that the dropdown is not filtering out media that is already assigned to the stage.

[2017-05-08 22:25] JoeIceCream commented on #44
Ok thanks Paul, I'll see what media I can find to test it.

[2017-05-08 22:26] rohrlach opened #119 "Theming"
- [x] Modify Bootstrap theme in the UpStage colours
- [x] Theme should be able to be dropped in on top of the existing CSS without further modifications

[2017-05-08 22:27] rohrlach commented on #44
@JoeIceCream This ticket is actually outdated - Can you please look at #119 instead?

[2017-05-08 22:27] #44 closed

[2017-05-08 22:34] JoeIceCream commented on #119
@rohrlach Would you like this inside the actual stages, over the home pages or throughout the entire website?

[2017-05-08 22:50] rohrlach commented on #119
The performance space has its own set of custom styling directives (Not using Bootstrap at all) This is for the rest of the application.

Ideally, you're just going to modify various Sass variables associated with the bootstrap-sass gem.  This means that in the application.scss file you're going to override the variables listed here:
https://github.com/twbs/bootstrap-sass/blob/master/assets/styles

[2017-05-09 04:56] vickis commented on #95
i just successfully added a gif that appears to animate - in the workshop but have not been able to assign to stage to check :)On 8/05/2017, at 7:19 AM, Paul Rohrlach <notifications@github.com> wrote:Currently, in each case it's just checking mime types for either 'audio' or 'image' it's not looking at specification—You are receiving this because you were assigned.Reply to this email directly, vie

[2017-05-09 04:56] vickis commented on #109
seems to be the option to either have thumbnails or a list which works well :)On 8/05/2017, at 8:40 PM, Helen Varley Jamieson <notifications@github.com> wrote:both of these issues are closed but the default display is still icons rather than list ... ??—You are receiving this because you were assigned.Reply to this email directly, view it on GitHub, or mute the thread.

{"api_version":"1.0","publi

[2017-05-09 08:05] helenvarley commented on #109
i still want the list view to be the default :)
imagine when there are 200 media items to display ... or more ...

[2017-05-09 08:58] vickis commented on #109
Sure thats all good
Die in the next commit eh?

[2017-05-09 13:01] rohrlach commented on #109
Haha yes it is - Which I still forgot to push. My bad.

[2017-05-09 14:17] rohrlach commented on #106
Shout is ready for testing (deploys in 45 mins)

[2017-05-09 15:22] rohrlach opened #122 "Thoughts"
Relates to #72

Utilizes the Chat Modifier Framework (#123)

For a player:
- [x] prefixing a chat message with a colon ':' constitutes a 'Thought'
- [x] Thoughts appear in the chat window as a light blue (0xadd8e6) thin font
- [x] Players may also utilize a checkbox to activate this modifier

[2017-05-09 15:25] helenvarley commented on #106
tested & working :)
@vickis - what do you think about the shout command staying active until you unclick the box? might be useful ... you can type the ! yourself & that only does the one line, so you don't need to remember to turn it off. or if you know you want to keep shouting for a while, you could use the checkbox to have it persist ... ?

[2017-05-09 16:04] rohrlach opened #123 "Chat Modifier Framework"
Considering that issues exist for both 'Shout' and 'Thought' with more to come.  we should implement a framework for adding/removing modifiers

[2017-05-09 16:09] #123 closed

[2017-05-09 16:51] rohrlach commented on #122
Deploys in 10 mins

[2017-05-09 18:18] rohrlach opened #127 "Chat Styling"
This issue proposes that we more distinctly represent various types of dialog in the chat window so that we can use a higher number of variations.  To begin with:
![screenshot from 2017-05-09 14-16-10](https://cloud.githubusercontent.com/assets/2830313/25865823/4ceb5e70-34c2-11e7-90db-9a2f327bf696.png)

[2017-05-09 18:22] rohrlach commented on #127
Deploy in 40 mins

[2017-05-09 18:32] vickis commented on #122
: Great :)

[2017-05-09 18:33] vickis commented on #106
Yes sounds like a useful mod for the angry players ;)

[2017-05-09 18:35] vickis commented on #123
Makes sense yes :)

[2017-05-09 19:19] helenvarley commented on #122
have tested shouting & thinking (in firefox on ubuntu) & both work, using the checkboxes or manually typing the command.
the multicoloured backgrounds for the chat text that have just appeared are ... vibrant!!! ;) can this please be an option, that one could set in the edit stage screen perhaps? i think that for many performances, it would be a bit too much, distracting from the onstage images. a

[2017-05-09 19:30] helenvarley commented on #127
i agree that it's good to be able to distinguish between different types of chat input, however i think we need to be quite careful with this & definitely make it optional. the chat window is important but it needs to work with what's going on visually on the stage - which is often quite a lot - & not clash with it or dominate (unless of course that is wanted by a particular performance).

we also

[2017-05-09 19:45] helenvarley commented on #122
by the way, should we note here that for thinking (& shouting) there should also be a corresponding change in the way the avatar's speech bubble displays on stage?

[2017-05-10 01:07] rohrlach commented on #109
Will be deployed in about an hour

[2017-05-10 07:45] helenvarley commented on #109
looking good - but i still want to have the list view as default :)

[2017-05-10 07:50] helenvarley opened #130 "collaboration tools"
this is thinking into the future, please don't prioritise it for now :)

it would be cool to have tools that groups could use to assist in their UpStage collaborations. for example we frequently use etherpad/piratepad on freely available installations, for brainstorming, planning, collaboratively writing. but there are always problems with the free installations - they close down, or they are unst

[2017-05-10 09:44] vickis commented on #122
yes that would be great!
used to be the bubbly shape for thinking and the spikes for shout - extra visual info to support the text change

maybe we could have yellow for cheerful (shortcut ^)
and purple for ethereal … (*)
dark orange for sinister … ($)

ha ha

[2017-05-10 09:44] vickis commented on #127
oops should have commented about the colours here
i quite like it

the synaeathesists should be consulted!

[2017-05-10 09:44] vickis commented on #106
yes makes sense
for the angry young players …

like that you can use it once or twice - or repeatedly without having to remember the command = useful!

[2017-05-10 09:44] vickis commented on #109
think you will have your wish but it didn’t go into the last commit right?
i have emailed stefan and the biz advisor today t plan for monday’s meeting …

[2017-05-10 09:44] vickis commented on #130
yeah this has been in the user stories reprioritised on the website at one stage would be useful for sureBUT do we want to end up as storage for everyone’s planning files …i think an an ether pad yes, place to collect files no - if they have made the grade and are going to be shared through UpStage okbut collective working space which enables file sharing not so surepulling things in on the fly as

[2017-05-10 10:59] helenvarley commented on #130
yes fair point about not becoming file storage for everyone's multiple notes.

i was thinking about it because i just spent some time looking for a way to have a piratepad-like thing on the website (as a solution for our current situation), looking at wordpress plugins. & then i was thinking, it would make sense to have some kind of collaboration space built into UpStage. but you're right, it shou

[2017-05-10 11:07] rohrlach commented on #109
Hahaha whoops... I'm​ starting to lose track as I keep swapping between two machines.

[2017-05-10 11:09] rohrlach commented on #122
I think it makes sense to put speech bubble issues in after we have controllable Avatars.

Will come back to the refinement here

[2017-05-10 11:10] rohrlach commented on #106
I may have a better idea here - will see what I can sort out

[2017-05-10 11:12] rohrlach commented on #130
Could people not just use Keep/Evernote/OneNote ?

[2017-05-10 11:53] helenvarley commented on #130
that's what we've been doing, with etherpad instances. the problem is that these instances are not always stable, or they get closed down  (like titanpad). certainly there are plenty of things like this that people can use, & this absolutely isn't a priority. i'm just thinking about what might be useful to us as performers, in the future :)

[2017-05-10 12:48] rohrlach commented on #130
Fair enough 🙂

[2017-05-10 19:15] vickis commented on #130
yes those three useful

[2017-05-10 19:19] vickis opened #131 "player/audience speech orientation"
the players would be better from the left of screen and audience from the right

because while it will be possible to shift the chat window it mostly is to the right so the orientation would tend to suggest the players coming form the stage (left)
and the audience coming from the right or off screen

[2017-05-11 13:40] rohrlach commented on #131
Sure.  I'm also going to scale back the styling in the chat window as per feedback from @helenvarley

[2017-05-11 15:41] rohrlach commented on #131
Is now deployed

[2017-05-12 10:13] helenvarley commented on #131
i like this version a lot better :) it's interesting to have the audience text on right & player on left, i think that's quite good.
the input field has got smaller - is there a reason for this? (in the past i have found that the size it was, was sometimes too small - but then, it was awkward to scroll back & forth in your input text.)
audience text is currently appearing twice ...

[2017-05-12 10:17] helenvarley opened #135 "on-stage private communication for players"
in UpStage players have the ability to "whisper" to each other - send text messages that are not visible to the audience. this was done with the /wh command, in the chat window. it was problematic for many reasons - very easy to make a typo & have your whisper appear to everyone, not intuitive, time consuming especially when you wanted to whisper to specific individuals rather than to all players

[2017-05-12 10:23] helenvarley opened #136 "audience chat text appears twice"
when i am not logged in, the text i type as audience appears twice when i enter it. then, when i log back in & go to the stage as a player, i only seeing the audience text once.
so i logged out again & went back to the stage as audience, & only see the text once as well. but definitely, when i was on the stage as audience and entering text, it was showing up twice.
when i enter new text, as audien

[2017-05-12 10:29] helenvarley opened #137 "log in/out bug?"
I was on the stage as audience (i had logged out in order to test audience chat input)
i used the back button of my browser to return to the workshop; in the top right corner it shows "Log Out" (even though i logged out before entering the stage as audience); it also shows the top right navigation (stages, media & users)
i click on Media
the top right navigation menu changes to Register & Log In,

[2017-05-12 10:30] helenvarley commented on #117
great, that seems much clearer to me :)

[2017-05-12 10:30] #117 closed

[2017-05-12 10:32] helenvarley commented on #118
great! thank you :)
i don't see the option to display as thumbnails anymore ... ?

[2017-05-12 10:36] helenvarley commented on #136
woah! now it appears three times! but reload removes the extras.
![audience_chat_triples](https://cloud.githubusercontent.com/assets/3437324/25994772/877d8032-370f-11e7-8ee3-1ed1b048ee5a.png)

[2017-05-12 20:09] vickis commented on #135
agree - but a nice to have (perhaps as with the water-wheel0 there is the ability to open a chat window that is just for player on stage - like a prompt space .. (that would alert all to stage directions etc
AND there is something like the @t command...
this is definitely not crucila at this stage :)

[2017-05-14 20:04] helenvarley opened #138 "avatar movement - drag & drop?"
in UpStage avatar movement has been point & click, as opposed to drag & drop. the centre of the avatar moves to where you have clicked - but it's hard to know where the centre is. it would be great if we could have more precise positioning, which drag & drop would probably give. we talked about this earlier, & the idea of having a "shadow" of the avatar, so that you could see where it was going to

[2017-05-14 20:26] blankgaming commented on #32
Hi Paul,
I had tried to fix the style inconsistencies but sadly couldnt solve it yet, asked Jason for help also but he also couldnt figure out how to solve it yet.  We were using these following links and others to help get to [it.]
(http://stackoverflow.com/questions/14694720/referencing-different-stylesheets-in-different-views-in-rails)
[c](http://stackoverflow.com/questions/19304681/activeadmin

[2017-05-14 20:28] blankgaming commented on #32
![performance](https://cloud.githubusercontent.com/assets/22442427/26037517/6c0e57be-3948-11e7-8749-6c51fbe4639f.png)

[2017-05-14 20:42] rohrlach commented on #32
Hey @blankgaming ,

Sure - It's actually theatre.scss at line 55 the selector needs to be more specific:
[code]
Meaning: any div elements with the 'panel-footer' class that are found as direct child elements of a div element with the id 'chat'

Rather than just:
[code]

[2017-05-14 20:59] rohrlach commented on #32
More in-depth information can be found here: https://www.w3schools.com/cssref/css_selectors.asp

[2017-05-14 21:00] vickis commented on #138
Agree! :)

[2017-05-15 09:30] blankgaming commented on #32
@rohrlach
Thanks Paul,

Me and Jason tried approaching this method before, which was at performance.html.erb:
<div class="**panel-footer.green**">
                        <% unless current_user.nil? %>
                          <div class="input-group">
                            <% Message::MODIFIERS.each do |k, v| %>
                              <%= label_tag do %>

[2017-05-15 09:33] blankgaming commented on #32
![nocolor](https://cloud.githubusercontent.com/assets/22442427/26051339/012dfe40-39b6-11e7-8abf-3f5480e1763f.png)
![virtualbox_2017-05-15_21-33-30](https://cloud.githubusercontent.com/assets/22442427/26051376/1913a38e-39b6-11e7-804b-5dda105a4e57.png)

[2017-05-15 13:10] rohrlach commented on #32
@blankgaming The reason your approach didn't work is that in HTML you are specifying ```class="panel-footer.green``` literally.  But in CSS, ```panel-footer.green {``` actually refers to an element that has both the ```panel-footer``` and ```green``` classes. IE: ```class="panel-footer green"```

[2017-05-15 13:30] rohrlach commented on #137
30 mins to deploy

[2017-05-15 13:44] rohrlach commented on #131
Yeah - It's a bug

... Or rather... It's an omission

[2017-05-15 13:49] rohrlach commented on #136
Could be a browser quirk on that day?

I can't recreate the issue so I'm going to close it for now.  If we can get a better idea of the specifics around when it occurs, we'll reopen

[2017-05-15 14:47] rohrlach commented on #137
Fix doesn't appear to fix the header issue (Although, clicking the links will lock you out anyway)

view-source when this occurs presents the correct markup, so this appears to be a browser-side issue.

Will need to look into this further

[2017-05-15 18:56] rohrlach commented on #8
Deployment in 5

[2017-05-15 20:26] helenvarley commented on #137
now i don't get to see the media list when i'm logged out. but i'm still seeing navigation that i can't access, which isn't ideal. you should only be able to see navigation that you can access (when logged in or out).

[2017-05-15 20:28] helenvarley commented on #131
i notice that the player name is appearing underneath the text; i think it would be clearer if the name is above, especially when there are several different people talking one after the other.

[2017-05-15 20:39] helenvarley commented on #136
it is still appearing twice for me, when i'm on the stage as audience; i reload the stage, & the ones that were showing twice are now showing once, but then the next thing i type appears 3 times. so it's not a passing quirk.
i just tried with the tor browser, & my text only appeared once. so maybe it's a browser issue. i'm installing chrome ... and there my text is also only appearing once. same i

[2017-05-15 20:47] helenvarley commented on #8
looks great :)
can only admins create announcements? & are these announcements visible to the public or only to logged in players? could it be possible to set individual announcements to be public or players only?
i added an image to one of my tests, & it isn't possible to resize images. this would be a helpful feature.

[2017-05-15 21:16] helenvarley commented on #8
just reporting that i received the emails of my announcements :)
do they go to all players? would it be possible to select, e.g. to send to all players who are assigned to a particular stage?

[2017-05-15 21:31] rohrlach commented on #8
In time, yes.  Actually, this is the start of a subscription module I have planned.

[2017-05-16 13:53] rohrlach commented on #119
Code provided by @JoeIceCream meets the criteria of this ticket and thus, I'm closing it.  @helenvarley & @vickis if you want further modifications please raise issues for them

[2017-05-16 13:53] #119 closed

[2017-05-16 13:54] helenvarley opened #143 "footer with version & date"
it's very useful to have a footer on every page of the workshop that shows what version it is & the date of the version.

[2017-05-16 13:54] rohrlach commented on #32
Code provided by @blankgaming meets the criteria of this issue - Thus, closing.

[2017-05-16 13:54] #32 closed

[2017-05-16 13:56] rohrlach commented on #143
Sure - Will have to think about the best way to do this such that someone doesn't have to remember to modify it each time

[2017-05-16 14:03] rohrlach opened #144 "Avatar Tab in Stage Toolbox"
This issue requires a tab to be added to the onstage toolbox labelled 'Avatars'
![screenshot from 2017-05-16 09-58-46](https://cloud.githubusercontent.com/assets/2830313/26109815/69761a6a-3a1e-11e7-8fb3-3f058aa60d86.png)
This box should contain a scrolling list of thumbnails/names representing each avatar assigned to the stage that is currently in use.

This is a preliminary task for #138

[2017-05-16 14:08] rohrlach opened #145 "Holding and Placing Avatars on the Stage"
This ticket requires #144 to be completed

- Players (logged in users) should be able to click an avatar in the avatar tab in the toolbox to 'Take hold' of it.
- Only one player can hold an avatar on each stage at any given time.
- When a player is holding an avatar, clicking anywhere on the stage should 'place' an avatar at that point.
- The clicked point should represent the centre of the avatar

[2017-05-16 14:44] rohrlach opened #146 "Various Visual Quirks"
- [ ] The Chat input and modifiers should fit better
![screenshot from 2017-05-16 10-41-08](https://cloud.githubusercontent.com/assets/2830313/26111872/4f90bb86-3a24-11e7-8d02-acf5231ba992.png)

- [ ] The foyer panels should stack and stretch on mobile
![screenshot from 2017-05-16 10-41-50](https://cloud.githubusercontent.com/assets/2830313/26111921/7711abb6-3a24-11e7-8977-8b07e91aef70.png)

- [ ]

[2017-05-16 16:41] helenvarley commented on #143
yes, it should be automated. i think we almost achieved that before but then it didn't always happen somehow ...

[2017-05-16 16:48] helenvarley opened #147 "mobile - no link to enter stage"
i just had a look at limelight on my mobile :) it looks pretty good, however there doesn't seem to be a way to enter a stage. should there be?
on my computer, when i'm on https://limelight.upstage.org.nz/foyer there is the heading "stages" and the link below that to "walkthrough" takes me to the stage. but on my mobile, at the same url, & seeing the same interface (e.g. i can also see "announcemen

[2017-05-16 16:59] rohrlach commented on #147
This is done deliberately.  The current performance space won't work on mobile.

[2017-05-16 16:59] rohrlach commented on #146
Deploys now

[2017-05-16 17:26] helenvarley opened #149 "chat window too long"
the chat window (& stage) should resize according to the size of your browser window.
currently on my 14" laptop (using firefox on linux) i have to scroll down to get to the chat input field (see screenshot). this might seem like a minor issue, but in performance it is actually really important that, no matter what size screen or resolution, everyone is seeing the same thing, & not having to scrol

[2017-05-16 17:26] #147 closed

[2017-05-16 17:28] rohrlach commented on #149
Looks like it's caused by the styling (or lack thereof) on the drawing controls

[2017-05-16 17:28] rohrlach commented on #149
This appears to be a firefox specific issue

[2017-05-16 17:45] rohrlach commented on #146
Here's some more quirks:
- [ ] The table background is too stark
![screenshot from 2017-05-16 13-40-25](https://cloud.githubusercontent.com/assets/2830313/26120014/61318f28-3a3d-11e7-9afc-002a0cfcadcf.png)

- [ ] Standard Glyphicons should be in use here
![screenshot from 2017-05-16 13-40-40](https://cloud.githubusercontent.com/assets/2830313/26120015/61322f5a-3a3d-11e7-9723-87272d1ae092.png)

- [

[2017-05-16 19:32] helenvarley commented on #149
nope - happening in chrome as well, on both mac & linux, & also in safari:
![chrome_linux](https://cloud.githubusercontent.com/assets/3437324/26124460/c6e662f8-3a7e-11e7-96ab-e5ce9736bba2.png)
![firefox_linux](https://cloud.githubusercontent.com/assets/3437324/26124462/c6eaeb16-3a7e-11e7-80e3-e69e0a96fc73.png)
![firefox_mac](https://cloud.githubusercontent.com/assets/3437324/26124461/c6eb252c-3a7e

[2017-05-16 19:36] helenvarley commented on #146
some comments:
- i agree, the green stripes on the media list is too much, it's better just as a list.
- i would suggest "say / shout / think" - for consistency, as "thought" is either a noun, or past tense.

[2017-05-16 19:42] rohrlach commented on #146
That's fair

On Tue, May 16, 2017, 15:36 Helen Varley Jamieson <notifications@github.com>
wrote:

--

Paul Rohrlach

Software and Systems Engineer
+1 (647) 654-3727 | paul.rohrlach@matrixbug.com

[2017-05-17 00:54] vickis commented on #119
super!! :)

[2017-05-17 07:53] helenvarley commented on #45
i guess you are working on this still, as i can't access the stage edit interface (i get the "something went wrong" message). & on avatar edit interface there is no option for assigning to a stage.

[2017-05-17 13:06] rohrlach commented on #45
No, no - I forgot to take out some debugging code.  The debugger doesn't get installed on the server so it fails.

Should work now

[2017-05-17 14:23] rohrlach commented on #92
Deploys in about half an hour

[2017-05-17 14:37] rohrlach opened #156 "Reset Password Screen Discrepancy"
Because the Reset Password form reuses the field names from the sign up and log in forms, browser credential caches think it's the same field and tries to autofill.

```:password``` and ```:password_confirmation``` should be obfuscated in the reset password template to prevent this.

[2017-05-17 14:40] #6 closed

[2017-05-17 17:30] helenvarley commented on #92
i have found the dropdown menu on the stage edit interface to assign sounds to the stage, which is fine, until there is a big number of media items. i'm not sure how well that will function when you have to scroll through a couple of hundred media items to find the one you want.
i don't see a way to assign a sound to a stage from the media item edit interface - there should be a way. then when the

[2017-05-18 11:31] helenvarley commented on #118
actually what this issue is referring to is the media edit interface, e.g. https://limelight.upstage.org.nz/avatars/snoopy/edit, NOT the list of media. the media edit interface still has an enormous image (i guess it's full size) with the different tools (add/delete tags, delete icon, browse for replacing the file, & update) all at opposite corners of the screen. it's not a good use of space. in U

[2017-05-20 22:54] rohrlach opened #157 "Stage Audio List"
When a player is on a stage, the should be able to switch the toolbox to the audio tab and see a list of sounds that are assigned to that stage

[2017-05-20 22:56] rohrlach opened #158 "Hide Toolbox for Audience"
Audience members cannot utilize tools on a stage, thus it makes no sense to present them with the toolbox

[2017-05-21 00:36] rohrlach opened #160 "Stage Layout"
It makes more sense to use flexbox on the stage than trying to cram bootstrap in

[2017-05-21 00:40] rohrlach commented on #160
@helenvarley This MAY address #149 but I have no way of testing it right now

[2017-05-21 01:26] rohrlach opened #163 "On Stage Visual Regressions"
After #161 the following are happening when in the auidence:
- [x] 'undefined' shown beside message
![screen shot 2017-05-20 at 9 24 29 pm](https://cloud.githubusercontent.com/assets/2830313/26280454/e72a302c-3da2-11e7-9d10-eba54b8643b3.png)

- [x] Large gap below input box
![screen shot 2017-05-20 at 9 24 39 pm](https://cloud.githubusercontent.com/assets/2830313/26280455/e7305358-3da2-11e7-8609-2

[2017-05-21 20:09] vickis commented on #158
yes agree - that is just frustrating

[2017-05-21 20:10] helenvarley commented on #163
i'm not seeingthe large gap below the input box, & the chat window resizing is now working, but the text is pressed right up against the edge which is not so nice.

[2017-05-21 20:11] helenvarley commented on #149
great - on firefox (linux) at least it is resizing nicely now. i will test on other browsers tomorrow, but it looks good.
but the text is now pressed up against the edge of the chat window on both sides. previously there was a nice bit of spacing there, which looks better.

[2017-05-21 20:11] helenvarley commented on #158
looks like it's fixed - i just entered stage as audience & don't see tools any more :)

[2017-05-21 20:20] vickis commented on #160
chat box is off the screen in both firefox and chrome on mac

[2017-05-21 20:25] vickis commented on #131
happy with the orientation (player left audience right looks great!! :)
and love being able to start and continue in speech/thought/shout  = auper!

but agree could the speech/thought/shout sentent appear in better relation to the speaker (eg at the start of the speech (helen says... but without the says etc)
and could there be some cell padding in the chat window just to push the text out slightl

[2017-05-21 20:30] vickis commented on #158
yep not seeing as audience thanks

[2017-05-21 20:30] #158 closed

[2017-05-21 23:12] rohrlach commented on #149
Yeah, unfortunately I'm still working out the kinks. I basically had to completely reimplement the page to make some of the changes that needed to be made going forward

[2017-05-21 23:40] rohrlach commented on #160
@vickis can you provide screenshots? I'm seeing no issue (Chrome on MacOS)

![screen shot 2017-05-21 at 7 39 39 pm](https://cloud.githubusercontent.com/assets/2830313/26288314/4509dffc-3e5d-11e7-885d-3f600a679523.png)

[2017-05-21 23:45] rohrlach commented on #163
Yes - Ended up having time to fix these two things but not the third

[2017-05-22 02:08] JoeIceCream commented on #144
@rohrlach Hi Paul, we've just been experimenting with using the byebug debugging tool from the gem file. However we're having a problem with making the debugging code appear. We realize we're supposed to write "byebug" within the controller method, but nothing prints to the terminal when we run it. How do we see the output?

[2017-05-22 02:12] rohrlach commented on #144
@JoeIceCream I've always used 'debugger':

[code]

[code]

[2017-05-22 04:24] rohrlach commented on #131
![screen shot 2017-05-22 at 12 22 57 am](https://cloud.githubusercontent.com/assets/2830313/26292566/faacc51e-3e84-11e7-9264-65a3a53e6b7e.png)

[2017-05-22 04:25] rohrlach commented on #163
![screen shot 2017-05-22 at 12 22 57 am](https://cloud.githubusercontent.com/assets/2830313/26292598/2b967fb2-3e85-11e7-85c1-7dd728725831.png)

[2017-05-22 05:19] vickis commented on #163
beautiful!

[2017-05-22 07:21] helenvarley commented on #163
great, looking better & more readable to me :)
but to be pedantic, can there be less of a gap? i think about half the size of the gap at the moment (between the grey line & the next player name) would be sufficient to separate the texts & be readable, but also to allow the maximum amount of chat to be visible on the screen. it's quite useful to be able to read back a few lines all the time without

[2017-05-22 07:24] helenvarley commented on #131
as per comments on #163 - all great, just please reduce space between grey line & player name by about half :)

[2017-05-22 07:32] helenvarley opened #166 "Users can use their Nickname to Log in."
currently it's only possible to log in with your email address. previously in UpStage it has always been username. is there a reason for using email address? if there's no reason, then i'd prefer username - simply because it's quicker ...

[2017-05-22 07:39] helenvarley opened #167 "different links from chrome & firefox"
in firefox, on https://limelight.upstage.org.nz/, the Walkthrough link in the green "Stages" box takes you to the stage (https://limelight.upstage.org.nz/walkthrough)
in chrome, on https://limelight.upstage.org.nz/, the Walkthrough link in the green "Stages" box takes you to the stage edit interface (https://limelight.upstage.org.nz/stages/walkthrough)

this is only happening on my linux laptop, n

[2017-05-22 07:43] helenvarley commented on #167
actually this may just be some quirk in my browser - the above happened when i was NOT logged in. i then logged in, & the link worked correctly to take me to the stage. so i logged out, & found it was now working correctly. so i closed the browser & reopened it & tried again, without logging in, & again it worked correctly. so i will close this issue.

[2017-05-22 07:49] helenvarley commented on #167
oh, too wierd!!! now i'm getting it happening on my mac ... in chrome on mac, & logged in as player.
i was in as audience, the link had worked as expected, then i logged in, & now the link in the "Stages" box is pointing to the edit interface instead of the stage!!!
![screen shot 2017-05-22 at 9 47 54 am](https://cloud.githubusercontent.com/assets/3437324/26297639/01e712d6-3ed4-11e7-910d-0ad815f9e

[2017-05-22 07:56] helenvarley commented on #167
it is also happening in safari. not logged in, the stage link on the home page tries to go to the edit interface & i get the message telling me i need to be logged in. so i log in, & again the link on the home page takes me to the edit interface.
there are other big problems once i get into the stage in safari, i'll make a separate issue for that ...

[2017-05-22 08:00] helenvarley opened #168 "stage display in safari"
disclaimer: i have quite an old version of safari (5.1.10) & can't upgrade it on my mac. @vickis - do you have a newer version? if so can you please test this on safari on your mac?

at first, the stage doesn't appear to display at all - the screen is completely blank. but the scroll bar is there on the right, so i scroll ... & then the chat window & tools appear - on the LEFT of the screen.
& it

[2017-05-22 08:06] helenvarley commented on #160
testing the position & resizing of the chat box on the following browsers/OS, 14" monitor @ 1440x900 resolution; have tested for both player & audience:

- firefox/linux: when the browser window is full size, it's fine. if i reduce the height of the browser window, for the first 2cm it's fine but then the input field goes below the fold & when i reduce it more the top green line of the chat box go

[2017-05-22 08:12] helenvarley opened #169 "player audience counter"
currently the chat window is flush to the top of the browser window when you are in audience mode. previously in UpStage, the player/audience counter is at the top of the chat window (see screenshot). it's very important to have this counter on stage visible for both players & audience, & the above the chat window seems a logical place for it. has there been any consideration of where it will go?

[2017-05-22 08:14] helenvarley commented on #21
#169
thinking about the area above the chat window as a place for these things (or would they be better at the bottom, since that's where the audience are inputting text so cursor is there?)

[2017-05-22 08:14] helenvarley commented on #21
note: it should also be possible for players to adjust the size of the font in their chat window too.

[2017-05-22 09:36] vickis commented on #168
the appearance of the stage looks as expected ie great safari 9.0.3 (mac os 10.11.3

[2017-05-22 09:36] #168 closed

[2017-05-22 09:43] vickis commented on #160
looks fine - actually think it was just such a thin line
fine in safari (9) resizes but as above with the chat etc folding over itself once gets too small (about 1/4 screen)

[2017-05-22 09:46] vickis commented on #169
thisk the counter at the top - and any audience tools - other thn resize font which is more sensible beside the text input field

[2017-05-22 15:00] rohrlach commented on #160
Are you sure you can't up your resolution a bit Helen? That seems like a strange resolution to have

[2017-05-22 15:02] rohrlach commented on #167
It's because of the window size. At a certain size, the interface starts to transition to a mobile interface

[2017-05-22 15:04] rohrlach commented on #166
Erm... I think it's because I added nicknames after the fact.

[2017-05-22 15:33] rohrlach commented on #167
As mentioned in a previous ticket, because I can't guarantee the performance space will work on smaller displays, I have redirected the link.  This may (probably will) change in future - But I'm only focusing on desktop for the time being

[2017-05-22 15:34] helenvarley commented on #160
since changing to my new computer, i have yet to find a resolution that is really ok for me. the default on this machine is 1920 x 1080, & that's just way to small for me to comfortably read (i know, i can increase things, but i was getting headaches from peering at the interface). the other resolutions i tried either went too square, or were too big. so at the moment what i've settled on is 1440x

[2017-05-22 15:37] helenvarley commented on #167
ok, then it's a different issue. if the performance space isn't going to work on smaller displays, then ... why are we making it responsive?? surely the whole point is that people will be able to join the performance from mobiles & tablets?

[2017-05-22 15:42] rohrlach commented on #167
It will :)

In a sense, it already DOES - but the layout it super frustrating to deal with so we need to figure that out.

I think it won't be until we've worked through how the toolbox will collapse etc.

[2017-05-22 15:44] rohrlach commented on #160
For sure :) I'm just not sure what responsive bracket that resolution fits into

[2017-05-22 15:50] rohrlach commented on #163
@helenvarley will go out in about 10 mins (Margins are halved)
![screen shot 2017-05-22 at 11 49 36 am](https://cloud.githubusercontent.com/assets/2830313/26317236/d249e470-3ee4-11e7-8083-5ea6518a832d.png)

[2017-05-22 17:01] helenvarley commented on #166
ok; can it be possible to log in with either? (could be useful to log in with email if you've forgotten your username?)

[2017-05-22 17:07] helenvarley commented on #167
perhaps we need a different approach to mobiles & tablets. for example, many things will be difficult if not impossible to do without a proper keyboard, so it makes sense to think of the mobile/tablet experience as something different.
i will open a new issue for this bcos i think it needs some deep thinking/discussing :)

[2017-05-22 17:08] vickis commented on #166
Don't forget there is the forgot password link :)

[2017-05-22 17:17] helenvarley opened #171 "mobile/tablet experience"
the experience of using/viewing/participating via a mobile or tablet is going to be different to the experience on a computer, therefore it makes sense to think about this & plan the functionality a bit differently, & try not compromise either experience because of the other one. the main differences are size, & the keyboard (i think - any others?)

from an audience perspective, the main issue wil

[2017-05-22 18:12] rohrlach commented on #166
Yes of course

[2017-05-22 19:08] vickis commented on #171
Yes emoticons! good idea :)

[2017-05-22 20:34] vickis commented on #171
it *should* be relatively easily to detect device and deliver accordingly - but it is probable that the users on mobile (small screen) are more likely to be audience

for using all the tools it seems likely the player would be using a laptop
however still a mobile device but with bigger screens are tablets - by the sounds of the size of your laptop hen maybe the screen size could be approaching yo

[2017-05-22 20:44] #163 closed

[2017-05-22 20:49] helenvarley commented on #171
my new laptop is 14", the old mac is 13", so at the smaller end of laptops. but plenty of people have small laptops.

what if we decided to make the mobile interface audience only? would that make programming easier, or would it not really make any difference? as vicki says, mobile users are more likely to be audience, apart from perhaps streaming (will that still require the use of another app? i

[2017-05-22 20:50] helenvarley commented on #160
you've just been working too damn fast, paul; i feel the need to give you something a bit more challenging, like non-standard resolutions and other curve balls :)

[2017-05-22 21:23] vickis commented on #171
arohamai - i meant audiences on mobile (as in phones)
tablets are another thing - and many are using these instead of laptops (this would include schools which is where i started running into issues with trying to do workshops …

i think it is too limiting to restrict ‘mobile’ to audience only

and its ok hen - size doesn’t matter ;)

[2017-05-22 21:24] vickis commented on #160
hehe ;)

[2017-05-23 07:44] helenvarley commented on #171
it would be useful to do some early testing then, to work out how we can try to ensure that it isn't a frustrating experience on phones/tablets, & also that whatever modifications are necessary to achieve that don't end up compromising the experience for those on laptops.
i just succeeded in uploading an image from my phone, it works fine. i guess we need to wait for stages to be working on mobile

[2017-05-23 08:26] vickis commented on #171
agree

schools do use a range
now that many have byod (bring your own device) they have everything
most would i think not use keyboards with tablets as a rule

but actually the last few projects in have done with schools have been in the hands on, outside and/or using electronics not in the classroom at all (as such)

agree it would be good to consider all users but to determine what works best fo

[2017-05-23 08:55] helenvarley commented on #171
ubiquitous & accessible are 2 different things ... we aren't trying to be social media & i think if we did suddenly get hugely audiences then we would have a whole lot of new problems to deal with like paying for our server traffic for one thing!

from my own personal perspective, i don't think i would want to perform from a mobile device. streaming from a phone is one thing, but i don't think i'd

[2017-05-23 09:18] vickis commented on #171
off hand interacting between digital and physical space, mapping, motion sensing that kind of thing :)

[2017-05-23 09:52] helenvarley commented on #171
can you describe how these might actually happen with limelight? what would the kids actually be doing, how would they be using limelight?

[2017-05-23 13:18] rohrlach commented on #160
:) Well, bare in mind we ARE meant to be releasing in a month to coincide with the end of the semester

[2017-05-23 13:31] rohrlach commented on #171
If I may interject here - Responsive design (more specifically, how we make assumptions on the device) is a bit more complicated than 'Phone, Tablet, Laptop, Desktop'

On the browser, we (quite rightly) have very limited access to information about the machine it's running on.  We don't know exactly what kind of device we're on, we don't know what screen size we have. We don't even know the size o

[2017-05-23 13:36] rohrlach commented on #171
What I suggest we do initially is this:
- Anything that we assume is a computer, can access everything as normal
- Anything else is audience-only with slide-in chat

Over time, we can add performance functionality to the tablet/mobile experience provided that we can actually come up with a usable way of doing so.

[2017-05-23 14:05] rohrlach commented on #167
#171

[2017-05-23 14:05] #167 closed

[2017-05-23 14:06] #112 closed

[2017-05-23 14:07] rohrlach commented on #149
Can we consider this resolved?

[2017-05-23 14:07] #122 closed

[2017-05-23 14:10] rohrlach commented on #109
![screenshot from 2017-05-23 10-10-28](https://cloud.githubusercontent.com/assets/2830313/26358289/117ab60e-3fa0-11e7-9eed-53310a70d919.png)

[2017-05-23 14:10] #109 closed

[2017-05-23 14:13] #102 closed

[2017-05-23 14:13] #104 closed

[2017-05-23 14:14] rohrlach commented on #106
Can we consider this completed?

[2017-05-23 14:15] #72 closed

[2017-05-23 14:17] rohrlach commented on #16
Can we consider this done?

[2017-05-23 14:18] rohrlach commented on #8
Closing this as initial requirements met

[2017-05-23 14:18] #8 closed

[2017-05-23 18:26] vickis commented on #171
Well seeing as how i am working with school age youth now is alongside a coomunityengagement project around an urban waterway (aside from the weaving project with the harihari group)
They mightbe telling the story of the waterway
Walking around its previous path and introducing its current meander through the endangered inhabitants
They would be talking about the sensor array theyhave installed an

[2017-05-23 18:27] vickis commented on #171
Sounds workable :)

[2017-05-23 21:55] vickis commented on #106
yes = great! :)

[2017-05-23 21:58] vickis commented on #171
that looks reasonable Paul :)
i went off on a possibilities tangent there!
dreaming big ;)

[2017-05-23 22:19] helenvarley commented on #160
what do you mean by releasing - having the whole thing finished? really???

[2017-05-23 22:22] helenvarley commented on #171
big dreams are good :)
paul, your proposal sounds sensible. getting the mobile audience on board first, & then perhaps we have some interesting projects for future students in developing mobile features :)

[2017-05-23 22:23] #149 closed

[2017-05-23 22:23] #106 closed

[2017-05-23 22:24] helenvarley commented on #109
do we not still need to adjust the green colour here so that you can actually read the media names on the green bars?

[2017-05-23 22:25] rohrlach commented on #109
Yes. But it's covered in another ticket

[2017-05-23 22:26] helenvarley commented on #16
i haven't retested it, & am about to go to bed now; i'll test it tomorrow morning & if it's all good i'll close it.

[2017-05-23 22:27] rohrlach commented on #160
Not at all haha. Just enough to be useful. To my mind that means we have a month to do Avatars, speech and finish audio (maybe backdrops if we have time)

[2017-05-23 22:28] rohrlach commented on #16
Cool thanks

[2017-05-23 22:29] helenvarley commented on #160
good! (you had me worried there for a minute!!)

[2017-05-23 22:49] vickis commented on #16
just tried it in firefox on mac returning a 404
![screen shot 2017-05-24 at 10 48 24 am](https://cloud.githubusercontent.com/assets/4249450/26379676/96c7dfa2-406e-11e7-88c0-d0b834d97330.png)

[2017-05-23 22:51] vickis commented on #16
same on chrome

[2017-05-23 22:53] vickis commented on #160
wahoo!
do able you think?
is exciting progress so far!!

[2017-05-23 23:21] rohrlach commented on #160
I think so, yes

[2017-05-23 23:22] rohrlach commented on #16
404? Odd... Was thinking potentially a 500

[2017-05-24 00:24] vickis commented on #16
sorry ha ha  of course it is internal!

[2017-05-24 00:25] vickis commented on #160
legend! :D

[2017-05-24 01:53] rohrlach commented on #30
Superseded

[2017-05-24 01:53] #30 closed

[2017-05-24 08:00] helenvarley opened #172 "creating tag from stage edit screen"
i added a new tag to my stage, & this took me away from the stage edit interface, to a screen just for that tag. this is a bit annoying as i might well want to be adding several tags to the stage, or doing other things in the stage edit interface. so now i have to navigate back to the stage edit interface.

[2017-05-24 08:02] helenvarley commented on #172
& on navigating back to the stage edit interface, i found that the tag hasn't been added. it doesn't seem to be possible to add a tag to a stage.

[2017-05-24 08:06] helenvarley commented on #16
i'm getting the same fail as vicki has posted (firefox /linux). also was unable to create/add tags to stage (#172) & i noticed when attempting to clone the stage that it only had options for tags & avatars with ticks, so it seemed that it would not also clone the sounds ... ?
![screenshot at 2017-05-24 10 02 46](https://cloud.githubusercontent.com/assets/3437324/26392956/9ba631d2-4068-11e7-9a3b-a1

[2017-05-24 08:07] helenvarley opened #173 "dropdown menus - multiple selection"
in all dropdown menus where it makes sense, it should be possible to select multiple items in the list. for example, when adding media or tags to a stage from a dropdown list.
it might be that this is possible, & i just haven't worked out the key to use on my new laptop ...

[2017-05-24 11:26] vickis commented on #173
usually its the command key on a mac …(or shift if they are together)

[2017-05-24 12:30] helenvarley commented on #173
yep, but i'm not on a mac anymore ... :)

[2017-05-24 13:57] rohrlach commented on #173
Even if it allows you to select multiple items - There's currently no code to handle that

[2017-05-24 13:58] rohrlach commented on #172
Interesting - I've not seen that

[2017-05-24 14:43] helenvarley commented on #173
haha :) i worked out which key it is (Ctrl) - for use on other things where there is code ... :)

[2017-05-24 14:46] helenvarley commented on #172
just tried in chrome (previously was in firefox) & same thing happened. so it's actually not possible to add a tag to a stage.

[2017-05-30 08:39] Tawpin commented on #144
<ul class="media-list">
                    <% @stage.avatars.each do |a| %>

                        <button  id="avatarsb" class="media">
                        <%= image_tag a.source.url(:thumb), :alt => a.name,
:class => 'img-circle pull-left' %>

                        </button>
                        <p></p>
                      <% end %>
                    <% end %>

[2017-05-30 20:28] helenvarley commented on #144
looks like a good start - the tab is there, i can see the avatar thumbnails, & i can click back to another tab.
can there be a rollover to show the name of the avatar? this would be useful for example if there are 2 similar avs, or like on the hentest stage the av thumbnail is not very clear.

[2017-05-30 20:37] rohrlach commented on #144
Yep - that'll need to be a separate ticket

[2017-05-30 21:04] helenvarley opened #177 "Avatar Tab: rollover for thumbnails to show avatar name"
When you roll the cursor over the thumbnail of an avatar in the on-stage Avatar palette, the name of the avatar should appear.

[2017-05-30 21:19] rohrlach commented on #144
I believe this issue can be closed.

[2017-05-31 06:24] vickis commented on #144
yes great see the avatars (chrome v58 on MacOS)
can't put them on stage yet tho...

[2017-05-31 08:16] #144 closed

[2017-06-06 05:12] Tawpin opened #179 "Canvas is distorted on Firefox"
Since changing to Flexbox, the canvas can only be drawn in the top left and is zoomed in a lot.
![image](https://cloud.githubusercontent.com/assets/21133487/26814501/2d8d466e-4ada-11e7-89ba-733efcd0770a.png)

[2017-06-06 05:27] JoeIceCream commented on #145
![capture](https://cloud.githubusercontent.com/assets/22229579/26814792/3fdcb8d4-4adc-11e7-8ee0-eb4acbacd88f.PNG)

@rohrlach  Hi Paul, we've enabled the avatar images to be placed on the canvas, it is placed in the center of where you click, and clears the canvas where the old avatar image was.
There's a problem though, using canvas might prove difficult to implement things like moving the avatar

[2017-06-06 17:49] rohrlach commented on #145
@JoeIceCream can you please explain why you think it'll be difficult?

[2017-06-06 17:49] rohrlach commented on #179
Thanks @Tawpin  we're aware of this.

[2017-06-06 18:37] helenvarley commented on #177
tested & working on linux, firefox & chrome :)
(is @vickis testing on mac?)

[2017-06-06 18:41] rohrlach commented on #177
Works fine on Mac

[2017-06-06 18:41] #177 closed

[2017-06-08 00:43] JoeIceCream commented on #145
Sorry for the late reply Paul, the reason why it'll be difficult is because of the fact that we're using a canvas. A canvas is just an assortment of pixels that can paint on the image of the avatar, we won't be able to keep the avatar as an object. What this means is, if we want to move the avatar slowly, we need to clear the canvas and re-paint the avatar one pixel over at a time. And if we want

[2017-06-08 00:52] Tawpin commented on #145
Can we not make a new canvas within the main canvas for each user's avatar and put their name in a label within that canvas, moving a canvas within the main canvas shouldn't clear what is drawn right?

[2017-06-08 01:28] rohrlach commented on #145
I think you need to rethink your strategy.

If it were me, I'd be placing the image in a doc of it's own and then using CSS3 animations to take care of the movement

[2017-06-08 06:57] helenvarley commented on #145
visual objects on the stage are going to be moving all the time, so having to redraw the canvas one pixel at a time doesn't sound like a workable solution ...

[2017-06-09 09:30] vickis commented on #177
Arohamai everyone
Not sure if you're aware but since tuesday vodafone/paradise clear have been experiencong major issues
Eg i just now 2130 friday got this email some seem to
Come in around the time they are sent others as this days late and in no particular order and sometimes several times ...
So again apologies if there are major delays or double ups in anything you sent/ i am replying to

Its

[2017-06-11 07:45] vickis commented on #145
hey good luck with sorting this out team
- as helen explained the movement of things around the stage is crucial

have you had a look at the suggestion Paul made about using styles?
vicki :)

[2017-06-18 20:42] vickis commented on #179
hey tried testing on chrome and firefox
Chrome = no drawing appears to show up ... (tried resizing brush and changing brush colour to no effect...
firefox - cannot get past edit stage to actually enter stage ... so can't test
:)
standing by

[2017-06-18 20:58] rohrlach commented on #179
@vickis it's not deployed yet - Deployment happens on the hour - so in about 2 minutes

[2017-06-18 21:22] vickis commented on #179
oh ha ha too keen!

[2017-06-19 02:14] JoeIceCream commented on #145
@rohrlach Hi Paul, we're still having a lot of trouble trying to animate our images. The problem lies in the fact that we need to use action cable in order for other users to see what has changed in the stage, but action cable is seemingly only accessible from the coffeescript file. Coffeescript only allows us to use the drawImage() function (which is what we used before to draw on the canvas befo

[2017-06-19 03:03] rohrlach commented on #145
@JoeIceCream Okay, thanks for the update - I'm going to assign you some other tickets to work on instead.

[2017-06-19 03:07] rohrlach commented on #157
@JoeIceCream @Tawpin @blankgaming

Please take this instead of #145

It *SHOULD* be much the same as #144

[2017-06-19 03:10] rohrlach opened #183 "Play Audio"
Requires #157 to be complete

When a player clicks on an audio button in the audio tab of the toolbox, all users connected to that stage should hear the audio file play once.

[2017-06-19 11:16] helenvarley commented on #179
seems possible to draw in any area of the canvas, using firefox on linux. however, when i resized the browser window, the drawing vanished! this is not good! :(

[2017-06-19 11:22] helenvarley opened #184 "drawing: thickness of line"
currently the size (thickness) of your drawing line is adjusted by clicking a button. the button jumps from 1 to 6 to 11 to 16. this does not allow for much control over the thickness of the line. also, 16 is nowhere near as big as the biggest size on UpStage v3. if you wanted to colour in a large area, it would take a long time.
the buttons are not ideal for adjusting the size - a slider would be

[2017-06-19 11:29] helenvarley commented on #183
unless it is set to loop.

[2017-06-19 11:31] helenvarley commented on #183
note: in UpStage, there was the problem that if someone entered the stage after an audio file had been started, they did not hear it. Ideally, late-comers or someone who's had to reload for some reason, should be able to hear the audio file on entering, coming in at the same point that everyone else is at. i realise this is pretty difficult, but if it's possible to achieve it would be great.

[2017-06-19 15:59] rohrlach commented on #179
Yes I'm aware - there's a *ahem* fix *ahem in place for some situations, but canvas actually does this by design.

We're going against the grain at this point

[2017-06-19 16:01] rohrlach commented on #183
Agree.

Both that and loop are separate things though

[2017-06-19 22:05] helenvarley commented on #179
oh - that doesn't sound very promising! :(

[2017-06-20 15:50] rohrlach commented on #179
It's the downside of being cutting edge :)

[2017-06-20 23:13] vickis commented on #179
can we be just edgy? and working :)

[2017-06-20 23:40] rohrlach opened #186 "Performance Engine"
For any given performance, there needs to be a consistent 'state' that both the server and the client are aware of.

The canvas can then be loaded based on this state

[2017-06-21 01:13] rohrlach opened #188 "Avatar Movement"
Once an avatar has been placed on the stage, the player holding it can click elsewhere on the stage to move the avatar to that point.

[2017-06-21 01:16] rohrlach commented on #179
@vickis @helenvarley - PR #187 is not inherently related to the resize issue, but it does robustly solve it.

[2017-06-21 01:17] #186 closed

[2017-06-21 01:37] rohrlach opened #189 "Avatar Voices"
When a player is holding an avatar and that avatar is on the stage - Whatever the player says in chat should be synthesized by HTML5 text-to-speech

[2017-06-21 01:39] rohrlach opened #190 "Avatar Speech Bubbles"
If a player is holding an avatar and that avatar is on the stage - Whatever that player enters into the chat should be displayed in a speech bubble above the avatar.  Styling for chat modifiers must be followed.

[2017-06-21 03:40] rohrlach commented on #189
Scope of this issue: When player is holding avatar, their speech is synthesized.

[2017-06-21 03:41] rohrlach commented on #189
NOTE: There is only one voice, there is no voice assignment.  The browser synthesizes however it wants to - This should pass if it "Actually works" more options to come later

[2017-06-21 10:33] helenvarley commented on #179
good! :)

[2017-06-21 10:35] helenvarley commented on #179
i just tested (in firefox only) & both drawing & avatar stayed visible when i resized the stage :+1:
however, the proportions are not retained. if you make the stage narrower, the drawing and avatar become squished. :-1:

[2017-06-21 10:38] helenvarley commented on #188
works on firefox and chrome on linux :+1:

[2017-06-21 10:40] helenvarley opened #192 "empty stage when i entered with another browser"
in firefox, i made a drawing on the screen & placed an avatar there. i then opened chrome & entered the same stage, & found that it was blank. i expected to see both the drawing and the avatar.

[2017-06-21 10:43] helenvarley opened #193 "logged in twice on same stage"
i am currently on the hentest stage as a logged in player in both firefox and chrome. in the past it has always been that you can't be logged in to the same stage twice - you can enter as audience with another browser window, but not as logged in player.
if it doesn't cause any conflicts then perhaps it's not a big problem, but it would be good to think through the implications of having the same

[2017-06-21 10:45] helenvarley commented on #145
this is working for me in firefox & chrome on linux. however the drop button doesn't seem to do anything - the avatar should disappear from the stage when it's dropped. (i suppose that's a new issue?)

[2017-06-21 10:48] helenvarley opened #194 "drawing when in avatar palette"
i tried moving an avatar with click & drag instead of point & click, & ended up drawing a line. drawing should only happen when you have the drawing palette activated, otherwise you can easily end up accidentally drawing with a slip of the mouse.

[2017-06-21 10:52] helenvarley commented on #192
also after a reload, the stage is blank. should still have the media / drawings etc there.

[2017-06-21 10:53] helenvarley commented on #189
in chrome: i heard both a "male" (deeper) and a "female" (higher) voice at the same time. the male voice said "hello" once, the female voice said it 3 times, and the text appeared twice in the chat. (in my other browser window it only appeared once).
in firefox: male voice said hello once, it appeared once in the chat

[2017-06-21 10:55] helenvarley opened #195 ""drop" should remove avatar from stage"
if you are holding an avatar & click "drop", you are no longer holding it, but the avatar remains on stage. it should disappear from the stage when you click drop.
(if you stop holding it by selecting another avatar, then it should remain on the stage but be "unheld", i.e. another player could then click on its icon in the avatar palette & start operating it)

[2017-06-21 14:32] rohrlach commented on #189
Noted

[2017-06-21 18:27] rohrlach commented on #189
Haven't been able to recreate the double voice issue as yet.

[2017-06-21 19:29] rohrlach opened #197 "Stage State on Entrance"
Users who enter the stage mid-performance are not made aware of the state of the stage

[2017-06-22 12:31] helenvarley commented on #189
neither can i. but in chrome, i got a female voice, & in firefox, a male voice. it should be the same voice in all browsers.

[2017-06-22 12:32] helenvarley commented on #195
tested on chrome & firefox (linux) & in both the avatar nicely disappeared from the stage when i clicked drop :)

[2017-06-22 12:33] #195 closed

[2017-06-22 16:41] rohrlach commented on #189
Oh I see. No, not necessarily - As mentioned above, the browser will use whatever configuration it has (Which may differ between browsers)

Again, all I'm looking for here is that the dialog is synthesized somehow

[2017-06-22 21:01] helenvarley commented on #189
ok; but is the ultimate aim to have multiple voices that we can select from, & have the same voice heard whatever browser you are using? because there are artistic reasons for chosing particular voices, so if different browsers deliver different voices then that is not really ideal ...

[2017-06-23 03:32] vickis commented on #193
yes that could be a complication (or an advantage! for those who like the avatar version of sleight of hand ;) it does seem more likely to be the former to me

[2017-06-23 03:35] vickis commented on #188
works on chrome on OS
but firefox on OS still only access the stage edit screen  through clinking on a stage link....

[2017-06-23 03:38] vickis opened #198 "accessing the stage in firefox on a mac"
When i am logged into Limelight on Firefox 48.0 on Mac El Capitain 10.11.3 I cannot actually enter a stage becuse clicking on the stage link always takes me to the stage edit screen ....

[2017-06-23 08:20] helenvarley commented on #193
yeah i think it could be confusing. if you were trying to operate 2 avatars, it would be easier just to switch from one to the other in the same browser. you can't operate in both browsers at the same time. the only advantage might be if you needed to share your log-in, e.g. let's say there is a bug that has corrupted someone's account & also made it impossible for an admin to create a new log-in

[2017-06-23 08:24] helenvarley commented on #198
i just tried on my old mac, OS 10.6.8., using Firefox 48.0.2. in audience mode, the stage links on the welcome page take me to the stage. when i am logged in, the links also take me to the stage. (but i am not able to hold an avatar).

[2017-06-23 12:35] rohrlach commented on #188
@vickis do you have the window maximized?

[2017-06-23 12:37] rohrlach commented on #198
@vickis I'm assuming you don't have the browser window maximized - The window size (or rather, size and resolution) leads bootstrap to think you're using a tablet and disables the stage.

@helenvarley can you have a look at the browser console (F12) and see if it reports any errors?

[2017-06-23 12:42] rohrlach commented on #193
As it stands, each browser will act independently.

Once I'm done building state into the performance engine, the browsers will mirror each other (Holding an avatar in one, means holding an avatar in the other)

One player, one audience behavior won't change

[2017-06-23 15:06] helenvarley commented on #198
we cannot expect everyone using a computer will have their browser window maximised. i normally don't, & especially not when i am using UpStage, since i'm often switching between other apps e.g. for streaming or a text. it has to work properly no matter how people have their browser window.

i just tested now in firefox (linux) when the browser window is not maximised, & the link from the welcome

[2017-06-23 15:09] helenvarley commented on #198
@rohrlach - in answer to your question, the errors are:
App.canvas is null
document.querySelectorAll(...).forEach is not a function
document.querySelectorAll(...).forEach is not a function

[2017-06-23 15:10] helenvarley commented on #193
ok; i guess we need to monitor this down the track & see whether it's a problem or not.

[2017-06-23 16:35] rohrlach commented on #198
@helenvarley  thanks, I'll try to recreate that.

In regard to the screen sizes - Not really, Apps running in the browser have very little access to information about the machine the browser is running on (Security) The viewport (which relates to screen size, or rather, window size) really is the only indicator.

The other option is to drop the constraint - But that will lead to tablet/mobile user

[2017-06-23 17:10] helenvarley commented on #198
yes that sounds good. we have to assume that many people will not have their browsers maximised, & it will be really confusing if the links sometimes take you where you expect them to & other times not.
if tablet/mobile users enter the stage, it will still work, won't it? they won't be able to easily enter text in the chat, but they will be able to see & hear what's going on, won't they? so we mig

[2017-06-23 17:50] rohrlach commented on #198
10 mins

[2017-06-23 17:59] rohrlach commented on #194
Click-and-drag movement isn't implemented yet.  But yes, there's nothing that locks drawing.

[2017-06-23 20:28] vickis commented on #198
Agree :)

[2017-06-24 17:22] helenvarley commented on #198
now when my browser window is reduced, i can enter the stages from the links on the welcome page. :)

[2017-06-24 17:24] helenvarley commented on #194
@vickis might have a different opinion, but i don't think that the default state for your cursor on the stage should be the drawing tool. it is too easy to accidentally draw. normally you would want to make the conscious decision, by activating the drawing palette, to start drawing on the stage.

[2017-06-24 21:58] vickis commented on #189
- if the browser is speaking and the voice sounds the same whatever the avatar there will be no sense of conversations between two or more avatars (and of course the voice being part of the 'costume' is important :)

[2017-06-24 22:46] vickis commented on #193
i don’t think it would be useful to be able to share logins
this is bug :)

a big fat lovely weta!

[2017-06-24 23:41] rohrlach commented on #189
Yes, obviously this is the end goal. This ticket focuses on "can we make it speak" with a subsequent ticket for "can we make voices distinct"

[2017-06-24 23:42] rohrlach commented on #194
That's correct, hence 'confirmed bug'

[2017-06-24 23:43] rohrlach commented on #198
@vickis can you confirm and close

[2017-06-25 00:55] vickis commented on #189
Perfect :)

[2017-06-25 08:24] vickis commented on #198
i am able to enter the stage on firefox (but not hold avatars...)
the browser resizes with the drawing intact... although the 'tools' get a bit messed about :)

[2017-06-25 08:26] vickis commented on #194
i had not noticed that ... er probably becasue i always head for the drawing palette to test
concur that this is not a great 'default' state for most users :)

[2017-06-25 09:08] #198 closed

[2017-06-25 20:29] helenvarley opened #200 "drawing: clear doesn't work"
the clear button in the drawing palette does nothing.

if we don't have layers as we did before, what is the clear button going to clear? all the drawing? the last section of drawing? this needs some thought ...

[2017-06-25 20:33] helenvarley opened #201 "holding a new avatar without dropping the first one"
currently, if you hold a new avatar without dropping the one you were previously holding (i.e. in order to leave it visible on the stage) then that avatar (that hasn't been dropped) becomes inaccessible. it stays visible on the stage, but nobody is able to hold or drop it.

it should be that you can leave one avatar on the stage, hold & operate a different avatar, & that someone else or you can th

[2017-06-25 20:34] helenvarley opened #202 "button to clear unheld avatars"
there should be a way to clear all unheld avatars from the stage (as currently exists in UpStage)

[2017-06-25 20:35] helenvarley opened #203 "avatar names should show in chat"
when you are holding an avatar & speak in the chat, the name of the avatar should appear rather than your player name.

[2017-06-25 20:36] helenvarley opened #204 "avatar names on stage"
it should be possible for avatar names to appear under the avatar image on the stage; players should be able to choose whether to show or hide this name on the stage.

[2017-06-25 20:38] helenvarley opened #205 "avatar names - changing the name on stage"
it should be possible to change an avatar's name on stage. in UpStage this has always been done with a command - which is not very intuitive / easy for newbies. ideally it should be possible to change it in the avatar tool palette by typing in the new name.

[2017-06-25 20:42] helenvarley opened #206 "avatars: clearly show which avatar you are holding"
it should be always easy to see which avatar you are holding. UpStage has the "mirror", in which you see the icon of the av you're holding. it could be the same, or something like the one you are holding comes to the top of the list & has a black border or is highlighted in some way.

[2017-06-25 20:48] helenvarley opened #207 "drawing: erase pen"
@vickis - sorry to break this to you, but the erase pen you were loving is in fact just a white pen ... but what a good idea! let's ask for an erase pen :)

[2017-06-25 20:48] rohrlach commented on #207
![screen shot 2017-06-25 at 4 47 14 pm](https://user-images.githubusercontent.com/2830313/27519654-21091242-59c6-11e7-93a3-72309124b86e.png)

[2017-06-25 20:57] helenvarley opened #208 "workshop - media list: show uploader & date"
the media list in the workshop should have columns for who uploaded it and when.

[2017-06-25 20:58] helenvarley opened #209 "workshop - media list: sortable"
the media list in the workshop should be sortable by all of the columns.

[2017-06-25 21:00] helenvarley opened #210 "tag list"
when you click on a tag in the media list, it just takes you to an empty page with the name of the tag on it. it should show a list of all media with that tag,

[2017-06-25 21:03] helenvarley opened #211 "media list: stages not shown"
the media list has a column called "stages" that should show all the stages each media item is assigned to, but currently no stages show up.

[2017-06-25 21:06] helenvarley opened #212 "backdrops - upload media item as a backdrop"
players can upload images as backdrops - jpgs, gifs, animations, etc.

[2017-06-25 21:08] helenvarley opened #213 "backdrops - assign to stage"
players can assign backdrops to stages.

[2017-06-25 21:17] helenvarley opened #214 "backdrops - players can select and change backdrops on stages"
players can see a backdrops tool palette in which they can click on a backdrop's icon and it then appears on the stage. clicking again on the icon should remove the back drop from the stage, or clicking on another icon replaces it with a new backdrop.

[2017-06-25 21:38] vickis commented on #200
previously in UpStage clear cleared everything...
it would be great to be more fine grained about that  - as in;
1 click of clear clears the last drawn thing (like edit undo)
but holding down the button or a double click clears everything - useful for getting a new blank canvas

it would be great to have more fine grained options on the pens also (i think helen talked about this :)

[2017-06-28 08:44] helenvarley commented on #157
when i switch to the Audio tab, i don't see a list of sounds, i see the word Audio & i have to click again on this in order to see the sounds. please remove this intermediary step.
- the palette/toolbox goes over the chat which is fine, but i can see the chat through the layer, which is not fine
- there is a button that says "play all sounds" - maybe useful, but VERY rarely would you want to play

[2017-06-28 08:50] rohrlach commented on #157
@helenvarley The auto update failed, please re test

[2017-06-28 10:30] helenvarley commented on #157
seems exactly the same as before (i cleared cache & also tried in another browser).

[2017-07-10 01:23] blankgaming commented on #183
![error](https://user-images.githubusercontent.com/22442427/27999477-a5d6e89e-6571-11e7-9938-5af95e3a5777.png)

![code](https://user-images.githubusercontent.com/22442427/27999490-d5393fc4-6571-11e7-980a-e2d05dac7341.png)

@rohrlach  Hi Paul, apologies for not giving any update last week, Joe and I have been busy with part time work and other commitments wasnt able to work on UpStage for a while.

[2017-07-10 20:25] rohrlach commented on #183
@blankgaming Can you push your working branch up so I can see what you've done?

[2017-07-24 20:37] helenvarley commented on #11
in UpStage, props are visual objects that can only be put on stage when they are held by an avatar, and they stay at the top left of the avatar and move around the stage with the avatar. this is not always that useful - could be done with another frame in the avatar for example.(or draw)

    - it would be useful to be able to place a prop on the stage, independently of any avatar, & have it stay

[2017-07-26 04:54] blankgaming opened #217 "Avatar displayed incorrectly"
![screenshot from 2017-07-26 16-44-01](https://user-images.githubusercontent.com/22442427/28605008-ec6a4752-7222-11e7-9fc6-5ece490f773e.png)

after dropping the avatar on stage, it is only displayed on the far top left corner.

[2017-07-26 13:08] rohrlach commented on #217
Unable to recreate this issue - @blankgaming can you please make sure you have tested your theory on the live server (which is HEAD on master)

[2017-07-27 01:06] blankgaming commented on #217
@rohrlach  my apologies Paul, wont happen again.
 I encountered this problem when using the university Upstage workstation so I thought it was an issue because I got the files from the master branch. I didnt encounter this bug when I am using my personal computer.

[2017-07-27 01:43] rohrlach commented on #217
No worries - Best to confirm using the QA instance from now on.

[2017-07-27 01:43] #217 closed

[2017-07-27 04:41] blankgaming commented on #209
Hi Paul, @rohrlach
Im not sure if i was on the right path, please give me some feedback on what i have done.
![medialist](https://user-images.githubusercontent.com/22442427/28654572-80ffaf9e-72e9-11e7-8ad0-9522659ba7c3.png)

![media_controller](https://user-images.githubusercontent.com/22442427/28654655-2615c70c-72ea-11e7-94b0-d3a17ebb52f9.png)

As you can see, I tried switching the Tags and Actio

[2017-07-27 04:51] rohrlach commented on #209
@blankgaming you're over-complicating it.

Basically, you need to make the column names clickable and sort the table rows based on the column that is clicked.

You should do this purely in the browser (ie: no ruby code involved)  Search the web for examples of how this is done and choose the solution you think works best.

[2017-07-28 15:14] rohrlach opened #220 "Make Panel Titles White"
It is my view, that the various panels should have white titles rather than black (as they currently are) and instead turn black on mouse over to indicate that they are clickable (if they are):

![image](https://user-images.githubusercontent.com/2830313/28723707-9771c568-7385-11e7-8c23-c200fc710d87.png)

to:

![image](https://user-images.githubusercontent.com/2830313/28723739-b7b91efc-7385-11e7-92

[2017-07-29 11:48] helenvarley commented on #220
agree - white is more readable (to me anyway!) :)

[2017-07-30 21:24] vickis commented on #220
yep white is good :)

[2017-07-31 14:02] helenvarley commented on #220
where should we be seeing this? on both https://limelight-qa.upstage.org.nz/ and https://limelight.upstage.org.nz/, i'm still seeing black panel titles (yes i cleared the cache :) )

[2017-07-31 21:19] vickis commented on #220
possibly still needs to be merge and updated? :)

[2017-08-01 03:07] rohrlach commented on #220
Yes - my update script broke.. Should be fine now.

[2017-08-01 03:33] rohrlach commented on #220
Just kidding - QA is dead.

Will fix tomorrow.

[2017-08-01 12:42] helenvarley commented on #220
hehe - i never had the chance to do a thumbs down before!!

[2017-08-19 16:56] rohrlach commented on #220
In case anyone missed it - this is up-and-running again.

[2017-08-20 20:53] helenvarley commented on #220
i tried to test this on limelight-qa, but there's no media there yet & i'm unable to upload, so i can't see any panel titles to see what colour they are ...

[2017-08-21 04:03] rohrlach commented on #220
On the main page? Or the login screen?

[2017-08-21 04:46] vickis commented on #220
it is white in the panels titles on https://limelight-qa.upstage.org.nz/ :)
thanks looks great

[2017-08-21 11:25] helenvarley commented on #220
ah ok good :)

[2017-08-21 13:39] #220 closed

[2017-08-24 03:16] vickis commented on #209
shite sorry
i went to test this and for some reason my login is not working

and unfortunately neither is forgotten password link (arohamai team its a bit of a default sometimes :)

[2017-08-24 03:24] rohrlach commented on #209
Do we have an open issue for that @vickis?

[2017-08-24 05:40] rohrlach commented on #197
Removed from Sprint 9 as I won't have the capacity to complete it

[2017-08-24 10:46] helenvarley commented on #209
doesn't work.

[2017-08-24 10:51] helenvarley opened #228 "assign multiple media items to stage"
when you are in the stage edit interface, & want to assign multiple media items, it should be possible to select multiple items from the dropdown media list by holding down the shift key.
(we quite often need to assign multiple media items to a stage at the same time, & it's just a bit tedious to have to repeat the process when it should be possible to select multiple items).

[2017-08-24 15:54] rohrlach commented on #209
Actually that's a server problem - sometimes you actually have to restart the instance, sometimes you don't ¯\_(ツ)_/¯

Looks good @blankgaming

[2017-08-24 20:18] vickis commented on #209
yes working well - super! :)

[2017-08-25 04:40] rohrlach commented on #183
Works on Chrome 60/Windows 10, macOS Sierra

[2017-08-25 12:22] helenvarley commented on #209
tested on limelight & limelight-qa, working on both :)

[2017-08-25 12:22] #209 closed

[2017-08-25 12:30] helenvarley commented on #183
works in firefox on linux :)

[2017-08-27 18:08] rohrlach commented on #183
Assume we're accepting this.

[2017-08-27 18:08] #183 closed

[2017-09-03 20:23] #188 closed

[2017-09-03 20:43] helenvarley opened #229 "combine stage edit screens"
the two stage edit pages can be combined into one, that includes the things that are currently spread across 2 pages:
- clone
- delete
- add/remove tags
- edit stage name
- assign/remove media
(& more features to come!)

[2017-09-03 20:44] helenvarley opened #230 "stages page: "enter" & "edit""
the stages page should have a list of stage names with two options for each: "enter" & "edit".
(the delete button should be on the stage edit screen)

[2017-09-04 01:45] charlie0605 opened #231 "Adding media's drop menu"
Drop down menu is not shown properly, it is in a single line. Can only see avatar, and part of sound.

[2017-09-04 01:46] rohrlach commented on #231
@charlie0605 please provide a screenshot

[2017-09-04 01:48] charlie0605 commented on #231
![image](https://user-images.githubusercontent.com/25602185/30008888-ab33c49c-9177-11e7-83ad-d3994787b5de.png)

[2017-09-04 05:09] rohrlach commented on #231
@charlie0605 please provide a screenshot of your fix in PR #232

[2017-09-04 08:49] helenvarley commented on #231
it's not clear to me which dropdown menu i should be looking at. if it's the one at the right hand side on https://limelight-qa.upstage.org.nz/media for adding media, this is not showing as a dropdown for me. the options go off to the right, i only see "Avatar S" & it's not possible to scroll to the right.
![screenshot at 2017-09-04 10 48 45](https://user-images.githubusercontent.com/3437324/30018

[2017-09-04 08:57] charlie0605 commented on #231
![image](https://user-images.githubusercontent.com/25602185/30019168-b4e068b0-91b3-11e7-8168-56a6f1dfcf46.png)

[2017-09-04 09:01] charlie0605 commented on #231
@helenvarley thats the dropdown menu im talking about, I tested on the main limelight website it seem to be working fine, not sure why its not working on the qa website

[2017-09-06 03:29] rohrlach commented on #212
@charlie0605 don't move issue cards into 'Testing' until the PR is merged.

Testing refers to 'Deployed to QA server'

[2017-09-06 03:46] charlie0605 commented on #212
Ok, sorry about that

[2017-09-06 04:04] rohrlach opened #234 "Unit Tests for Controllers"
This ticket requires that all controllers have at least two unit tests for each action:

1) Ensure correct input is accepted
2) Ensure bad input is rejected.

[2017-09-06 04:06] rohrlach opened #235 "Unit Tests for Models"
This ticket requires that all models have at least two unit tests for each attribute or method:

1) Ensure correct input is accepted
2) Ensure bad input is rejected.

[2017-09-06 06:18] JoeIceCream commented on #204
@rohrlach Hey Paul, I've had a go at helping out Kit's issue, but we're running into the same problem that I had before where we can't get the data to reach the method under "name (data) ->" in the avatar.coffee file. Would there be any chance you could take a look and see why the data.avatar_name isn't receiving the data from the avatar_channel.rb file? Thanks

[2017-09-06 14:51] rohrlach commented on #204
It's because on line 72 of avatars.coffee you are calling the name function like this:

```when 'name' then name data.avatar_name```

IE: passing the name directly to the function.

But the function ```name``` on line 44 is expecting an object ```data``` on which to find an ```avatar_name``` attribute:

[code]

A couple of breakpoints in your browser's debugger would tell you this - Please use the

[2017-09-06 15:37] rohrlach commented on #231
Fix confirmed on QA

![screen shot 2017-09-06 at 11 31 11 am](https://user-images.githubusercontent.com/2830313/30120733-b89578e8-92f7-11e7-94ab-818403a30a8f.png)

[2017-09-06 15:37] #231 closed

[2017-09-07 02:04] thongteav commented on #235
Hi Paul, by 'all models', do you mean including the existing models? Or just the models we've created for our issues?

[2017-09-07 02:05] rohrlach commented on #235
All of them.

[2017-09-07 02:05] thongteav commented on #235
Ok.

[2017-09-07 02:07] rohrlach commented on #235
I eventually want to put CI/CD in place - But there's not much point in doing that until we have some tests to automate.

I understand that this is dull work - But it'll save you a lot of bugs to fix down the line.

[2017-09-07 02:09] rohrlach commented on #235
It's worth noting that each team member can do a model each and submit their own PRs.  Once the 2017 guys are caught up I'll be putting them on these as well.

[2017-09-07 02:16] blankgaming commented on #204
![btn](https://user-images.githubusercontent.com/22442427/30142778-b25e69a0-93d6-11e7-8e40-e355e607cdfe.PNG)
![btnisnull](https://user-images.githubusercontent.com/22442427/30142779-b28955fc-93d6-11e7-93ef-d24a5df82ee3.PNG)

@rohrlach Hi Paul, I had a go again this morning. I found that the btn class for the avatar name button is appearing null after getting the query for it as you can see on the

[2017-09-07 02:36] rohrlach commented on #204
@blankgaming it's ```null``` because your selector query string doesn't match anything.  Look at the log output of ```data``` - You'll notice that it doesn't have an ```avatar_id``` attribute and so ```#{data.avatar_id}``` (in your selector query) is null.

[2017-09-07 02:43] blankgaming commented on #204
![btnisnull](https://user-images.githubusercontent.com/22442427/30143611-e253b3dc-93da-11e7-8db1-f48141cdfd52.PNG)

[2017-09-07 02:45] rohrlach commented on #204
So you're good now?

[2017-09-07 02:55] blankgaming commented on #204
Yes for now, Im left with to toggle to whether to display or hide the avatar name(s).

[2017-09-07 02:56] rohrlach commented on #204
Good stuff 👍

[2017-09-10 23:04] JoeIceCream commented on #210
@rohrlach I'm not sure sure if we're aware of this, but when I try to add a second avatar with the same tag as the first, the terminal prints out that that name has already been taken. Is this a bug?

[2017-09-10 23:12] rohrlach commented on #210
That's not a bug.

It's a confirmation that the tag exists and that it's assigning the existing one rather than creating a duplicate

[2017-09-10 23:34] vickis commented on #206
sorry
i am pretty sure i used the password i had - but was told it was wrong ....
then when i used the forgot password link got the something went wrong email again...

[2017-09-10 23:43] vickis commented on #206
ok i figured it out the isue is firefox on the mac

[2017-09-10 23:44] vickis commented on #206
in hen test stage can see that i am holding the car av because it is greyed out ...
on chrome

[2017-09-10 23:49] vickis commented on #206
in the walkthrough stage it shows as a crossed out circle if i try and reselect the avatar that i was initially holding
however this means that because i tried to hold one after the other - i cannot now select and drop the leaf gif av ....

![screen shot 2017-09-11 at 11 49 05 am](https://user-images.githubusercontent.com/4249450/30254094-3f89b3a8-96e7-11e7-85af-f66ab8ed7827.png)

[2017-09-10 23:50] vickis commented on #206
ooops :)

[2017-09-11 00:17] JoeIceCream commented on #210
@rohrlach Oh I see, however I'm still not able to assign the tag to the media. This message displays and won't let me assign the same tag. Is there another way to assign existing tags?

[2017-09-11 00:24] rohrlach commented on #210
Hm... Okay, could be a bug.

Have a look through the code and see you if can work it out 😉

[2017-09-11 03:26] blankgaming commented on #204
![capture](https://user-images.githubusercontent.com/22442427/30256885-1856af50-9702-11e7-905f-a75a96ce1084.PNG)

Hi Paul @rohrlach ,
I continued working on issue 204 after Joe left for his class, I was able to display the avatar name in the middle since it was intended. However each time I move the avatar image to another location in the canvas the name disappear until I click the show/hide butto

[2017-09-11 03:52] rohrlach commented on #204
@blankgaming that doesn't sound particularly ideal Look at how the avatar movement is implemented.  You'll notice that in order to accomplish it, the entire stage needs to be redrawn.

This means that the state of the stage needs to be persisted between redraws (Which it is)

[2017-09-11 19:20] helenvarley commented on #206
when i click on one avatar, that icon enlarges to take up all the space of the avatar palette. i guess this indicates that that is the avatar i'm holding, however it's not great to then not be able to see any of the rest of the avatars available. it won't be a good solution for quickly swapping between avatars, as we often need to do. i would prefer a larger palette & something more like the desig

[2017-09-11 19:21] helenvarley commented on #206
also the avatar icon is distorted to fill the available space - i.e. squished short & wide, which doesn't look great.

[2017-09-11 20:23] rohrlach commented on #206
Can you provide Screenshots?

[2017-09-11 20:53] helenvarley commented on #206
![screenshot at 2017-09-11 22 53 14](https://user-images.githubusercontent.com/3437324/30296319-0b859434-9744-11e7-9b2d-4ae605e6a790.png)

[2017-09-11 21:13] rohrlach commented on #206
@JoeIceCream please liaise with @helenvarley and @vickis to effectively resolve this issue

[2017-09-11 21:14] rohrlach commented on #157
@helenvarley can you provide an update on this?

[2017-09-12 03:13] vickis commented on #212
no option to upload backdrops available
![screen shot 2017-09-12 at 3 12 54 pm](https://user-images.githubusercontent.com/4249450/30306559-f452ce74-97cc-11e7-8c82-6cf5486e2f04.png)

[2017-09-12 03:28] rohrlach commented on #212
Update script only runs on the hour ;)

[2017-09-12 08:48] helenvarley commented on #206
i have said before that i think we need the tool palettes to be bigger; it should be as if they are layered over the chat - not more than the top third, i would say - so that there is adequate space to see at least some of the available media, & have some other tool buttons. (see my mock-up). the "mirror", or display of the avatar that you're holding, should just be one part of this. often we want

[2017-09-12 08:51] helenvarley opened #238 "email confirmation message persists on limelight-qa"
every time i go to https://limelight-qa.upstage.org.nz/, i get the message: "Thank you, your email address has been confirmed" at the top of the foyer interface.
(i don't get this message on https://limelight.upstage.org.nz/)
![screenshot at 2017-09-12 10 50 20](https://user-images.githubusercontent.com/3437324/30316718-5bd31a6a-97a8-11e7-953d-6dccdd5ecbdc.png)

[2017-09-12 08:55] charlie0605 commented on #212
@rohrlach how come the dropdown menu went back to the previous dropdown menu?

[2017-09-12 08:58] helenvarley opened #239 "assign media to stage during upload"
it should be possible to assign media items to a stage at the time of upload.
currently in UpStage, there is a list of stages on the right hand side of the upload interface, & you can select one or more stages that the media item will automatically be added to at the same time as being uploaded. this is very helpful!

[2017-09-12 09:05] helenvarley commented on #157
technically, the original statement for this issue has been achieved: i can switch to the audio tab & see a list of sounds assigned to the stage.
there's no need for this list to be buttons, & there will need to be other tools on the palette, but i guess you know that (please see the mock-up).
![screenshot at 2017-09-12 11 02 52](https://user-images.githubusercontent.com/3437324/30317356-33d74714-

[2017-09-12 09:12] helenvarley commented on #212
upload is working.

[2017-09-12 09:12] #212 closed

[2017-09-12 09:16] helenvarley opened #240 "stage accessibility on foyer page"
it should be possible to see your access to stages in the stage list on the foyer page.

- audience members should only see the stages that are publicly accessible
- logged in players should see an additional column, like the ones showing the player & audience numbers, that indicates their personal access to each stage, e.g. audience, player, owner

[2017-09-12 20:17] vickis commented on #206
yes agree - do ned to have as much of the palette on hand as possible - and if it is click in place and click away that will mean can access it and still also not lose what is happening in chat
thanks team :)

[2017-09-12 20:22] vickis commented on #157
great work team!
either buttons or list - as long as the palette can show the possible audio as well as the tools - e.g. long file names may exist in either state
if buttons can be stacked to show more within the palette and still access the tools this works for me :)

: >

[2017-09-13 06:10] blankgaming commented on #204
![show](https://user-images.githubusercontent.com/22442427/30361935-ab0774b8-98ad-11e7-980c-b5114829bb07.PNG)

![hide](https://user-images.githubusercontent.com/22442427/30361940-b1abff14-98ad-11e7-855b-732598679d06.PNG)

Hi Paul @rohrlach , The avatar name was able to be shown or hidden when clicking the "show/hide button" however it's only working when you place the avatar again on the canvas. I

[2017-09-13 14:21] rohrlach commented on #204
@blankgaming I fail to understand the point of ```cable.js``` all you're meant to be doing is adding a label to the existing avatar behaviour.

To your question - It's probably because all your ```name``` action doesn't send anything, nor does the wrapping function receive anything:
[code]
The function doesn't accept any parameters and when the websocket action is fired, no additional information

[2017-09-13 14:35] rohrlach commented on #157
Yeah no - a stack of buttons doesn't constitute a list.

[2017-09-13 14:38] rohrlach commented on #157
Suggestion is the use of ```select```

[2017-09-13 14:49] rohrlach commented on #206
@JoeIceCream can you modify the entire avatar tab such that the mirror is displayed above (Or blank if nothing is held) and the avatar selection buttons are below it.

It's fine if you have to extend the height of the tabs to achieve this.

[2017-09-13 14:49] rohrlach commented on #206
@helenvarley I'm going to raise a new issue for a toolbox rework I have in mind.

[2017-09-13 14:52] rohrlach commented on #240
@helenvarley we don't currently have a concept of stages that aren't publicly accessible.  I suggest you either raise this as an issue too and remove from this one until it's in place.

[2017-09-13 14:53] rohrlach commented on #240
Also - To be clear - You want the player/audience count to only be visible to players?

[2017-09-13 14:57] rohrlach commented on #238
@helenvarley can you try closing the message box, doing a hard refresh and logging out/back in.

Cannot recreate this (Chrome/macOS)

[2017-09-13 19:38] helenvarley commented on #157
from the user perspective we want ease & speed, & i guess also consistency across the palettes so that it's all as intuitive as possible :)

[2017-09-13 19:40] helenvarley commented on #240
sorry, i wasn't clear; public should also be able to see player/audience numbers. but they shouldn't see a column that indicates accessibility, because they should only see the stages they can enter & they are not logged in so only entering as public.
i'll raise a separate issue for non-public stages.

[2017-09-13 19:42] helenvarley opened #242 "stage accessibility - public or non-public"
it should be possible to make a stage "public" - i.e. visible to someone who is not logged in, in the list of stages on the foyer page - or "non-public" - i.e. only visible to logged in players who have access to that stage.
it should be an option that can be set in the stage edit screen.

[2017-09-13 19:43] helenvarley commented on #238
that got rid of it :)
can it be set so that this message only appears once?

[2017-09-13 19:59] vickis commented on #206
sounds interesting! :)

[2017-09-13 20:00] vickis commented on #157
sure - just thinking of useable space - list it is :)

[2017-09-13 20:18] rohrlach commented on #238
It's supposed to only show once - my theory is that your browser did something strange with it's cache. Being QA it might have been due to timing with an update.

Closing this for now.

[2017-09-13 20:18] #238 closed

[2017-09-13 20:19] rohrlach commented on #242
You mention "access to the stage"

Does this mean we need to create a permissions system?

[2017-09-13 20:55] helenvarley commented on #242
yes ... would that be a separate issue, i guess?? ;)

[2017-09-13 20:59] helenvarley opened #243 "stage permissions"
it should be possible to set the following permissions for stages:
- public: visible to non-logged in audience members, who can click on the link to enter the stage as audience
- non-public: only logged-in players who have permission can see and enter the stage

someone who creates a stage (owner) automatically has full permissions.
the owner of a stage can give permissions to other players:
- pla

[2017-09-13 23:00] rohrlach commented on #243
Going to wait on input from @vickis before fleshing this out further

[2017-09-13 23:01] rohrlach commented on #242
Yes, #243 is necessary and should be done first.

But this is still valid.

[2017-09-14 00:26] charlie0605 opened #244 "Assigning Avatars and Sounds grid layout and order"
when on a smaller window the list and the delete button divides into 2 rows and the list is not ordered for Avatars and Sounds
![image](https://user-images.githubusercontent.com/25602185/30406793-33543adc-9948-11e7-9f81-c23448469e82.png)

[2017-09-14 00:29] rohrlach commented on #244
Hang on - wasn't this actually ADDRESSED in #241 ?

[2017-09-14 00:32] charlie0605 commented on #244
#241 is about backdrops, I though it would have to be a new issue if Avatars and Sounds are doing the same.

[2017-09-14 01:06] rohrlach commented on #244
Okay. That's fine

[2017-09-14 04:08] charlie0605 commented on #244
![image](https://user-images.githubusercontent.com/25602185/30411694-aef1e22a-9966-11e7-8386-e51418dc3234.png)
![image](https://user-images.githubusercontent.com/25602185/30411702-bdf5bef4-9966-11e7-8964-3c57d6674bba.png)

[2017-09-14 12:45] helenvarley commented on #213
it appears to work - the backdrops are now showing on the stage edit interface as assigned to the stage. however in the media interface, it doesn't show that they are on a stage, nor if you go to that specific media item. (i will make separate issues for this).

[2017-09-14 12:47] helenvarley opened #245 "media item - show assigned to stage in media list"
https://limelight-qa.upstage.org.nz/media has a column for "stages" in the media list; this column should list the stages to which each media item is assigned (& the stage names should be clickable links which will take you to the edit screen for that stage).
the stages should be alphabeticalised.

[2017-09-14 12:48] helenvarley opened #246 "media edit interface - show stages that media item is assigned to"
the edit page for each media item should show which stages that media item is currently assigned to.
it should be possible to assign or unassign the media item from stages on the media item's edit screen interface.

[2017-09-14 14:17] #213 closed

[2017-09-16 11:27] charlie0605 commented on #244
@rohrlach I'm trying to sort the avatar on stage by its name, but the avatar_stages doesn't contain the name of the avatar. Do you have any suggestions on how I could sort it?

[2017-09-16 18:08] rohrlach commented on #244
@charlie0605 assuming you're trying to sort an array of AvatarStage objects:

``` @avatar_stages.sort { |x| x.avatar.name }```

[2017-09-17 00:12] thongteav commented on #214
Target layout, for reference:
![image](https://user-images.githubusercontent.com/26214298/30516929-77b6403e-9ba1-11e7-877a-a7ed533bc0e9.png)

[2017-09-19 13:55] helenvarley commented on #156
not quite sure what i should be testing here, but anyway:
- i logged out, clicked on log in & clicked on "forgotten password"; & got the error message " Sorry, that was too quick! Please resubmit. "
- clicked on "forgotten password" again, entered email, got message telling me instructions sent, check email
- checked my email, did not find it
- checked my spam filter, found it; suggest avoid using

[2017-09-20 05:22] rohrlach commented on #244
@helenvarley @vickis Please refer to the discussion in #248 for full context

[2017-09-20 05:27] rohrlach commented on #156
We'll need to look into why we're being sent to spam intermittently.  Essentially the testing regime should be the entire "Forgotten Password" workflow.

[2017-09-23 21:34] rohrlach commented on #244
Passing this issue based on the stated objective of the issue.  Note that some fixes explained by @charlie0605 in #248 are not actually addressed - Specifically, when attempting to assign an existing tag to a stage, server will return HTTP/422 (Unprocessable Entity) so we find ourselves in the situation where although this issue is complete, the PR isn't - This is why PRs should not deviate from t

[2017-09-23 21:34] #244 closed

[2017-09-23 21:38] rohrlach opened #250 "HTTP/422 When Attempting to Assign Existing Tag to Stage"
![image](https://user-images.githubusercontent.com/2830313/30777313-c0641afc-a085-11e7-9a5b-6dbf544a361c.png)

![image](https://user-images.githubusercontent.com/2830313/30777318-ccc16926-a085-11e7-82a3-9c1ecaac0425.png)

![image](https://user-images.githubusercontent.com/2830313/30777327-0a13d854-a086-11e7-9b48-738a0db69add.png)

[2017-09-23 23:10] thongteav commented on #250
Hi @rohrlach, is there a certain way to replicate this bug?

This is what I have when doing it:
![image](https://user-images.githubusercontent.com/26214298/30777855-3c25307c-a121-11e7-944c-48cd35bc48e8.png)

[2017-09-23 23:12] thongteav commented on #250
Oh I got it, if you have more than 1 word for the tag, this bug will show up.

[2017-09-23 23:22] rohrlach commented on #250
Okay.  This isn't the expected behavior.  The system should be able to handle that.

[2017-09-26 10:54] helenvarley commented on #214
works for me :)
altho i don't see icons for the backdrops, only names; icons make selection much easier. & we definitely need to see more than 3 at a time - often we can have as many as 10 backdrops (or more) on a stage, & if we have to scroll all the time it takes longer to find & change backdrops.

[2017-09-26 10:55] helenvarley commented on #214
it doesn't always work immediately - sometimes i click on a backdrop name & nothing happens, i have to click 2-3 times before it appears.

[2017-09-26 10:58] helenvarley opened #253 "backdrop resizing"
backdrops MUST retain their proportions when resizing. at the moment on limelight-qa this is not happening, which means that if your browser window has different proportions to the image, it is distorted.
currently on UpStage it works that blank space appears above & below the backdrop image if necessary, to retain the proportions (& we can change the colour of that blank space).

[2017-09-26 13:37] rohrlach commented on #214
@thongteav or @charlie0605 - Can you comment on Helen's feedback?

[2017-09-26 18:31] thongteav commented on #214
Hi @helenvarley, we could try 4 items at once, but I think anything more than that would make the images really small as the palette isn't really that wide as the one on current upstage website. As for when images are not showing, I think it might have to do with the screen resolution. The team will investigate on that today.

[2017-09-26 19:57] thongteav commented on #214
We figured out why the images aren't showing. Prior to this, we didn't create a thumbnail version of the images uploaded for the backdrops. I think you're using backdrops created a while ago, so when the toolbox is looking for the thumbnail it won't find any and will just display the name instead.

Therefore, you might have to remove all the backdrops existed and then re-uplpad them. It should sho

[2017-09-27 14:43] helenvarley opened #254 "delete media message"
i am deleting backdrops, & when i click on the delete icon i get a pop-up message that says "(name of media" will be removed" * cancel or ok buttons.

it would be good to include the media type in this pop-up message, as there could be multiple media items with the same or similar names, such as a backdrop called "trees" and an avatar called "tree"; so it would be helpful if the pop-up message sai

[2017-09-27 14:46] helenvarley opened #255 "media list - finding media"
after deleting a backdrop, i was returned to https://limelight-qa.upstage.org.nz/backdrops - a page which shows only backdrop media items.
how do i get to this page apart from after deleting an item?
if we don't have the excellent filter system that we currently have in UpStage (which i would prefer to have!!), then pages like this that have only one media type are going to be essential. also page

[2017-09-27 15:01] helenvarley commented on #214
i deleted the backdrops & reuploaded them, & reassigned them to the hentest stage. now i see the thumbnails in the palette. however:
- i can scroll endlessly left or right, & see the 3 backdrop icons repeated over & over again; this is confusing!
- clicking on the icons doesn't seem to work at all, altho once a backdrop did appear on the stage. but now clicking does nothing

as you can see from th

[2017-09-27 17:49] thongteav commented on #214
Hi @helenvarley, the team will investigate on that matter and we'll get back to you shortly.

[2017-09-27 23:24] JoeIceCream commented on #206
@helenvarley @vickis Hi Helen and Vicki, I've completed fixing the distortion in the mirror but I'd also like to enable performers to change the size of the avatar that is placed in the stage. Where would you like this action (if at all)? I can do it within the stage or where you assign the avatar initially. what would you prefer?

The other option is that I set a default size for an avatar, and a

[2017-09-28 11:06] helenvarley commented on #206
@JoeIceCream - it would be AWESOM to be able to change the size of the avatar on the stage. if you look at the mock-up of the tool palettes that i made, you can see that i imagined a slider in the tool palette that would allow you to increase or decrease the size of the avatar you are holding (i also imagined being able to adjust opacity, flip & rotate - but i'll stop now or i'll get in trouble fr

[2017-09-28 15:58] rohrlach commented on #206
Resizing the avatar on the stage isn't part of this issue. @JoeIceCream or @helenvarley you should open a new issue for this.

[2017-09-28 16:00] rohrlach commented on #255
This isn't what's meant to happen.  It's meant to return you to the media index and then we're going to put filters on that page

[2017-09-28 16:02] rohrlach commented on #255
**GOAL OF ISSUE:** Upon deletion of a backdrop, return the user to ```/media```

[2017-09-28 16:30] helenvarley commented on #206
what did i say! :D

[2017-09-28 16:32] helenvarley opened #257 "avatar - resize on stage"
a player can resize the avatar that they are holding on stage

[2017-09-29 08:49] thongteav commented on #255
Hi @helenvarley, @rohrlach, does that mean deleting avatars and sounds should redirect the user to /media too? Because they are also redirecting to their own page currently.

[2017-09-29 10:40] vickis commented on #206
oh awesome
we do need those new issues in there (sounds exciting and super great if achievable!
wahoo!

[2017-10-01 05:30] thongteav commented on #254
Hi @rohrlach, should we use a variable like: @backdrop.class.name.demodulize or a simple hard code 'backdrop' would be enough?

[2017-10-01 21:30] charlie0605 commented on #214
Hi @helenvarley @vickis
Could you guys please test this issue again, new code was uploaded #259

[2017-10-02 11:00] helenvarley commented on #214
hi guys, this is looking a lot better :) but the icons can still be smaller. you can see from my screengrabs that one icon is hanging out over the chat - not really a problem, but if the icons were smaller it would fit better. also we are still only seeing 4 at a time, & i'd really like to see at least 6.
![screenshot at 2017-10-02 12 57 14](https://user-images.githubusercontent.com/3437324/310745

[2017-10-02 11:10] charlie0605 commented on #214
Hi @helenvarley do you prefer the dot to be smaller or to be just removed as there is an alternative way of navigating the backdrops by clicking on the arrows.
With 6 backdrops at the same time, the backdrops size will be quite small
![image](https://user-images.githubusercontent.com/25602185/31074876-36864714-a7cf-11e7-9f4b-643aba7d6b30.png)

[2017-10-02 13:29] helenvarley commented on #214
@charlie0605 the dot confused me at first, because i only had 3 backdrops & i didn't get what it was for. but then once i added 2 more backdrops & understood what it was about, i think it's actually quite good - as it means you have an idea of how many more backdrops there are, & also to click from one dot to the other is less mouse-movement than going to the arrows at either end (but don't take t

[2017-10-02 14:22] rohrlach commented on #254
@thongteav this is one of the few times I recommend hard-coding.  This is because to the user, they are removing a backdrop - But the classes we use to implement the backdrop functionality don't necessarily have to be called as such.

[2017-10-03 08:30] charlie0605 commented on #250
Hi @rohrlach, it seems like when trying to find new tag the error arises. In the controller create method. @tag = Tag.find_by_name(params[:tag][:name]), this line, the params is not formated before it asks if the tag is existed in the database. I've added .strip.downcase.gsub(/[^a-z0-9\s\-]/, '').gsub(/\s/, '-') at then end and it allowed adding existing tag with space to persective but when there

[2017-10-03 12:49] helenvarley commented on #245
works in firefox on linux :)

[2017-10-03 12:58] helenvarley commented on #255
from the media list, i deleted a backdrop & got returned to the media list.
from the edit screen for the backdrop, i deleted it & got returned to the media list.
seems to be how it should work :)

[2017-10-03 13:03] rohrlach commented on #250
@charlie0605 I believe your diagnosis to be correct (Having looked at the code) You'll notice that the ```Tag``` model has a single validation instruction that makes sure the name conforms and is unique:

```validates :name, :presence => true, :uniqueness => true, :format => /[a-z0-9\-]/, :length => { maximum: 25 }```

You'll also notice that the name is "standardized" before validations are run:

[2017-10-03 13:05] #255 closed

[2017-10-03 13:06] rohrlach commented on #245
works for Chrome under Windows and macOS

[2017-10-03 13:06] #245 closed

[2017-10-03 13:09] rohrlach commented on #250
Also worth noting: it'd be good to write some tests for this once you've fixed the issue

[2017-10-03 19:03] charlie0605 commented on #214
@helenvarley could you please test this code again I have updated the code

[2017-10-03 20:10] helenvarley commented on #214
great, that's much better :)
it would be good to have rollovers so that the name of the backdrop comes up when you hover over it (but that might be a separate issue ... )

[2017-10-03 20:11] helenvarley opened #264 "backdrop palette - rollover names"
in the backdrops palette, it should be possible to see the name of each backdrop when you hover/roll over the icon with the cursor.

[2017-10-04 13:38] rohrlach commented on #214
@helenvarley this can actually be part of this issue 👍

@charlie0605 go ahead with the change.

[2017-10-04 13:40] rohrlach commented on #214
Ignore last comment / label changes (was trying to do two things at once - got confused)

[2017-10-04 13:40] #214 closed

[2017-10-05 00:37] thongteav commented on #240
Hi @rohrlach, there's no implementation to say if a logged in user is an audience or player yet since the stage only contains an owner. Would that be a separate issue?

[2017-10-05 14:06] rohrlach commented on #240
@thongteav assume that logged in users are 'Players' and anonymous users are 'audience'

[2017-10-06 08:41] thongteav commented on #211
@rohrlach @helenvarley @vickis Hi, isn't this the same as #245?

[2017-10-06 08:56] helenvarley commented on #254
great, thanks :)

(btw, in the dialogue box, i also got the message "Prevent this page from creating additional dialogues" & a checkbox - see screengrab. is that something my browser is putting in? if it's something limelight is generating, i don't think it's appropriate/necessary)
![screenshot at 2017-10-06 10 54 10](https://user-images.githubusercontent.com/3437324/31270523-015d040c-aa85-11e7-8c

[2017-10-06 08:57] helenvarley commented on #211
yep! :)

[2017-10-06 08:57] #211 closed

[2017-10-06 09:03] thongteav commented on #254
@helenvarley it seems like it's a built-in feature in the web browsers when the pop up appears too frequently. I'll have a look if there's any way to disable or prevent it from showing.

[2017-10-06 10:13] thongteav commented on #228
I think this is very similar to #173, isn't it?

[2017-10-06 10:18] thongteav commented on #250
This should address bug #172 upon completion.

[2017-10-06 10:26] helenvarley commented on #228
indeed, you're right again! clearly i got a bit excited about adding new issues ;)

[2017-10-06 10:26] #228 closed

[2017-10-06 13:32] rohrlach commented on #254
There isn't a way to turn this off.

One thing we could do is use a Bootstrap modal rather than a ```confirm```

[2017-10-06 14:25] helenvarley commented on #254
interesting. it's not a big deal, but it's slightly confusing to have irrelevant info there, & what would happen if someone ticked the box to not be shown additional dialogues? would that stop other dialogue boxes from opening?
in the current Upstage we don't see it, e.g.:
![screenshot at 2017-10-06 16 23 46](https://user-images.githubusercontent.com/3437324/31282490-00a613c2-aab3-11e7-9728-6f2177

[2017-10-06 17:59] rohrlach commented on #254
Yes it would.  The one that's been provided is a browser (built in) dialog.  The legacy system uses a custom overlay (Which would be Bootstrap in Limelight's case)

[2017-10-07 03:17] thongteav commented on #92
Is there anything else missing from this issue?

[2017-10-07 04:15] thongteav commented on #45
I think this has been addressed right?

[2017-10-07 06:45] thongteav commented on #13
This is the same as #205?

[2017-10-07 06:50] thongteav commented on #12
This is the same as #189?

[2017-10-08 05:03] thongteav commented on #240
@helenvarley @vickis @rohrlach I noticed that the headings for 'name', 'players', 'audience' are using extra thin font. Is this desirable?
![image](https://user-images.githubusercontent.com/26214298/31314068-f2a9b9a8-ac52-11e7-8b4f-7ca04a64f5e9.png)

[2017-10-08 08:06] helenvarley commented on #254
i think we do need to do something to avoid this message appearing. there's a definite risk for newbies to tick the box, & i guess that would mean that if they accidentally clicked on a delete button, the media would be immediately deleted without this checking step. since they can remove media other than their own, i think it's really important to ensure that this checking step always happens & i

[2017-10-08 08:07] helenvarley commented on #13
yes :)

[2017-10-08 08:08] helenvarley commented on #12
looks like it to me!

[2017-10-08 08:13] helenvarley commented on #240
this might be in order to make the word "Audience" fit into a certain width - i don't know the reason; for me it is readable so it's fine, i would just say that there should be consistency with fonts elsewhere, but this is a sort of subheading & i can't find a comparable other instance.

it has made me notice that the numbers under plays & audience are left aligned. i would prefer if they were eit

[2017-10-08 08:17] vickis commented on #254
Agree - is important that media is not deleted accidentally so a
Check step essential - thanks :)

[2017-10-08 09:47] thongteav commented on #240
@helenvarley would this be alright?
![image](https://user-images.githubusercontent.com/26214298/31315718-9aa8fcaa-ac7a-11e7-9be3-8be0c9218402.png)

[2017-10-08 10:22] helenvarley commented on #240
yes :)

[2017-10-08 14:51] rohrlach commented on #12
Technically yes - I believe I left both open because of the conversation fragmentation between the two

[2017-10-08 14:51] #13 closed

[2017-10-08 14:52] #45 closed

[2017-10-08 14:53] rohrlach commented on #92
See the last comment from @helenvarley

[2017-10-08 21:41] charlie0605 commented on #250
@rohrlach How would I go about testing when the tag name is empty. I have got some test up. Now I'm trying to test when the tag name is empty on stage. How would I simulate when the player is on the stage page and clicked on add tag and it renders the form, then they enter an empty name. I'm trying to test for the presence of flash[:danger]

[2017-10-09 03:20] vickis commented on #250
Ha ha i got a visual of 'flash  gordon'
:)

[2017-10-09 22:22] JoeIceCream commented on #206
Are we okay to close this now @rohrlach, @vickis, @helenvarley ?

[2017-10-09 23:50] blankgaming commented on #138
Hi Helen @helenvarley , For this drag and drop feature, do you mean to have the avatar dragged and dropped from the avatar tab on the stage with a shadow of the avatar or is it on the stage to have the drag and drop functionality?

[2017-10-10 13:27] rohrlach commented on #250
@charlie0605 can you provide the spec you have thus far?

[2017-10-10 14:11] helenvarley commented on #206
yes, but ... it's unnecessary for this much space to be give to the "mirror" - there's a lot of wasted space either side. can we not make the mirror just the size of the avatar icon, & use the rest of the space for other controls?
 i'm also concerned about the limited number of avatars that will be visible without scrolling; i guess this is a new issue, but it should be comparable with how the bac

[2017-10-10 14:16] helenvarley opened #269 "swap avatar without dropping"
it should be possible to swap avatars in the avatar palette, without first dropping the one you are holding, simply by clicking on the icon of another avatar.
at the moment, when i am holding one avatar and click on another, the first time it will swap. but the first avatar that i was holding is then inaccessible, as if someone else were holding it, so i can't swap back.

being able to swap avatar

[2017-10-10 14:18] helenvarley commented on #138
@blankgaming it is mainly on the stage. however if it could also be from the avatar palette that would be quite intuitive and would mean you could also get more precise positioning with the first appearance of the avatar on the stage.

[2017-10-10 18:47] charlie0605 commented on #250
@rohrlach I have committed the code in issue#250 branch

[2017-10-10 19:18] rohrlach commented on #250
Does what you're currently doing not work?

[2017-10-10 19:20] charlie0605 commented on #250
No, the flash[:danger] is nil
![image](https://user-images.githubusercontent.com/25602185/31406204-02dd0ddc-ae5d-11e7-8aa1-0c5fab19f0f5.png)

[2017-10-10 19:28] rohrlach commented on #250
Ahh - It's probably because whilst you are using a spec file for the controller, you are only actually dealing with models.

You need to be testing ```TagsController``` and ```StagesController``` not ```Stage``` and ```Tag```

[2017-10-11 13:57] helenvarley commented on #257
using firefox on linux: it works! :) BUT
- with one avatar, it seems to be fine, but with my helen avatar, she is now completely squashed. she wasn't like this yesterday. i don't know if this is because the other av is maybe square & mine is rectangluar? but avatars will come in all dimensions ... so it must always be that the correct proportions are retained.
- a scrollbar on the palette is not a

[2017-10-11 14:01] helenvarley opened #271 "same thing happening on 2 different stages"
currently on limelight-qa there are 2 stages - hentest  & test244. hentest has 2 avatars assigned to it, test244 has only one.
if i put an avatar on the stage in hentest, it appears on the stage in test244
even if that avatar is not actually assigned to that stage, & not showing up in the avatar palette, it still appears on the stage
stages should function totally independently from each other.

[2017-10-12 13:59] rohrlach commented on #271
What're you using?

Unable to reproduce this:
- Chrome on Windows 10 / macOS High Sierra
- Edge on Windows 10

[2017-10-12 14:00] rohrlach opened #273 "Unable to work with Avatars Consistently - Edge on Win10"
Holding and Placing of Avatars doesn't always work in Edge

[2017-10-13 02:41] JoeIceCream opened #274 "Avatar name is hidden behind image"
There is a bug where the avatar name is not displaying correctly as it is behind the avatar image. The name should be below the image and in the center of it's width.

[2017-10-13 02:42] JoeIceCream opened #275 "Avatar resizing distortion"
Currently avatar's on canvas are being distorted due to the resize function, avatars should retain their original height to width ratio.

[2017-10-14 07:22] helenvarley commented on #271
firefox 56.0 on linux (ubuntu mate)

[2017-10-14 09:17] thongteav commented on #254
Hi all, this should be up for testing again. Please test it out.

[2017-10-14 10:52] thongteav commented on #240
This can be tested as well.

[2017-10-16 12:22] rohrlach commented on #246
I assume there is more to come than just #276

[2017-10-16 12:31] rohrlach commented on #250
@thongteav I've also added you as someone who can test this in QA

[2017-10-18 00:53] thongteav commented on #250
Hi @rohrlach, do I just log in to https://limelight-qa.upstage.org.nz/login with same login as limelight upstage?

[2017-10-18 07:31] helenvarley commented on #250
not quite sure what i'm meant to test here, but i did the following:
- went to the edit interface for the hentest stage & added the tag "test"
- went to media, created a tag "helen" on an avatar, then went to the edit interface for the hentest stage & added the tag "helen" to this stage. i typed h in the input field & "helen" appeared as a dropdown so i selected it.

i see that there is now a "tag

[2017-10-18 07:33] helenvarley commented on #240
looks good :)

[2017-10-18 07:33] #240 closed

[2017-10-18 07:34] charlie0605 commented on #250
@helenvarley are you referring to #210 ?

[2017-10-18 07:35] helenvarley opened #279 "UpStage should always be written with capital S"
in the html title of the workshop interface, UpStage appears as "Upstage". in the html title of stages, it appears correctly as "UpStage".

anywhere that UpStage is written, it should have both the U and the S capitalised.

[2017-10-18 07:37] helenvarley commented on #250
yes, thank you! :)

[2017-10-18 07:39] charlie0605 commented on #250
This issue is mainly to do with when you add duplicate tags with space in the tag name. The second time you add it the console should not get an HTTP 422 error. It should redirect you back to the page you were on ie stage if you were trying to add tag to the stage

[2017-10-18 07:42] helenvarley commented on #254
great, that's much better :)
but before we close it, i'd like to suggest a slight change in the wording. at the moment it says:

"The avatar "helen" will be removed?"

but it would be nicer if it said:

"Are you sure you want to delete the avatar "helen"?"

using the word "delete" rather than "remove" makes it more clear that it's going to be deleted from the server, since media can be assigned to

[2017-10-18 07:47] helenvarley commented on #204
this is working, but the font is way too small. also on one avatar, the name stays close to the avatar despite the size, but on my (distorted/squished) helen avatar, the name is a long way away from the actual image.

[2017-10-18 08:10] helenvarley commented on #250
ok - i'm not really sure how to test that. i didn't get any errors.

[2017-10-18 09:28] thongteav commented on #254
hi @helenvarley, please have a look at these different combos:
Option 1:
![image](https://user-images.githubusercontent.com/26214298/31709325-284bfe6a-b44e-11e7-9f0b-03231cd2c01d.png)
Option 2:
![image](https://user-images.githubusercontent.com/26214298/31709415-70bad68a-b44e-11e7-9a8f-7cc2cb666c39.png)
Option 3:
![image](https://user-images.githubusercontent.com/26214298/31709477-a870ce4a-b44e-11

[2017-10-18 09:58] helenvarley commented on #254
@thongteav - great :)  i think i prefer the ones without "confirmation" at the top - this isn't really necessary.
pedantically, it would be nice if the "to" could fit onto the same line as the rest of the text - maybe make the font of the second sentence a fraction smaller?

[2017-10-21 04:45] rohrlach commented on #254
Having the bold headings is a nice touch

[2017-10-21 04:47] rohrlach commented on #250
@thongteav No, you'll need to create another account - The envs are isolated.

[2017-10-21 04:48] rohrlach commented on #197
Agree - I'll try to have a crack at it over the weekend.

[2017-10-21 17:48] helenvarley commented on #279
great, thanks :)
i noticed that nearly all of the pages have a title like "Stages | UpStage", "Media | UpStage" etc, which is great. however https://limelight-qa.upstage.org.nz/tags is only "Tags" & https://limelight-qa.upstage.org.nz/users is "Stages | UpStage"

[2017-10-21 17:50] helenvarley commented on #253
great :)

[2017-10-21 17:50] #253 closed

[2017-10-22 04:07] thongteav commented on #250
Ok, I've created the account. Waiting for it to get activated.

[2017-10-22 20:41] rohrlach commented on #250
Done

[2017-10-22 21:01] helenvarley commented on #275
is this to do with the helen avatar being squashed? i don't know if that is connected to the on-stage scaling or not. but it needs to be fixed!

[2017-10-22 21:19] helenvarley opened #284 "player audience counter on foyer"
the numbers of players and audiences should show in the stages list on the foyer screen (currently it is hard coded to show zero).
the numbers should automatically update whenever players or audience enter or exit a stage.

[2017-10-22 21:21] helenvarley commented on #169
note: once player permissions are in place, the counter needs to count logged in players as audience when they are in a stage that they don't have player access for; even if they are logged in.

[2017-10-22 21:25] thongteav commented on #250
Testing procedure:
- creating new tag for 'test 2'
- creating another tag with 'test 2'
- creating another one with 'test-2'
- unassigned the tag

Result: No http/422 error found.
Tested on: Google chrome, Microsoft edge, Firefox on windows.
![image](https://user-images.githubusercontent.com/26214298/31866468-57c94bf2-b7dc-11e7-9611-4f65bc988e87.png)

![image](https://user-images.githubusercontent

[2017-10-22 21:28] vickis opened #285 "Screen proportions remain the same independent of resize"
when you resize the screen there is no change to the proportions of the images (backdrops) on it eg the stage remain proportional in landscape - so if the screen is narrowed then there is white space above and below the image
everything on the stage remains the same in relation to everything else

[2017-10-23 22:12] thongteav commented on #250
@rohrlach So is this fine?

[2017-11-06 16:07] rohrlach commented on #284
This is resolved.

- Paul

*Paul Rohrlach*
Software and Systems Engineer
+1 (647) 654-3727
paul.rohrlach@matrixbug.com

On Sun, Oct 22, 2017 at 5:19 PM, Helen Varley Jamieson <
notifications@github.com> wrote:

[2017-11-14 01:05] thongteav commented on #264
@helenvarley this can be tested

[2017-11-14 09:24] helenvarley commented on #264
great, it works - at least in Firefox on Linux :+1:

[2017-11-14 09:24] #264 closed

[2017-12-16 21:12] helenvarley commented on #246
great, this is now showing up. however there needs to be some interface text here, as tags & stages are listed together without anything to indicate what they are. it's entirely possible that there could be tags and stages of the same name. it's important that we can clearly see what things are.

[2017-12-17 15:06] rohrlach commented on #246
Would it be enough to simply have the 'Add' button retain it's label when assignments exist like so:

![screen shot 2017-12-17 at 10 06 09 am](https://user-images.githubusercontent.com/2830313/34080813-f2094310-e311-11e7-9417-275f0185f3ef.png)

[2017-12-17 15:22] rohrlach opened #290 "Audience can't see performance"
Stage remains blank for audience users. Avatars do not display when they are placed or moved.  If the user is logged in, performance works as expected

[2017-12-18 21:54] helenvarley commented on #246
hmm; maybe. but if so then preferably at the beginning of the line rather than the end. imagine if there are 10+ in each & some very similar, i think for our left-to-right trained eyes it would be helpful to signal at the beginning of the line what this is. @vickis any thoughts?

[2017-12-20 18:21] rohrlach commented on #246
Perhaps then if we increase the space between the two groups and then put the add button below the group distinct from the existing tabs?

[2017-12-21 15:57] helenvarley commented on #246
maybe what would be clearer is simply to have "Tags:" and "Stages:" at the beginning of each line, & then just the green plus button at the end? adding more lines there is going to push everything else further down the screen (which already needs to be improved by making the media item image smaller - no need to have it so big - separate issue i know! ;) )

[2017-12-21 16:01] helenvarley opened #292 "image display on media item edit screen"
the image on a media edit screen does not need to be as big as it currently is. it also doesn't need to be centred & taking up the whole width of the page. it can be more like a thumbnail, & aligned left or right.

[2017-12-21 16:02] rohrlach commented on #246
Agreed. Okay, o think we're clear on the solution here. I'll assign it to the incoming team when we get them.

[2017-12-21 16:02] rohrlach commented on #292
This one too

[2017-12-21 16:03] helenvarley opened #293 "information on media edit screen"
it would be useful to list information on the media edit screen including who uploaded the item & when, & details of the file such as dimensions, filesize, file format, filename, & a download link.

[2017-12-21 16:04] helenvarley commented on #269
seems to work - only tested in firefox on linux, with only 2 avs on stage & no other players.

[2017-12-21 16:04] #269 closed

[2017-12-21 16:05] helenvarley commented on #271
still happening (on firefox / linux)

[2017-12-23 15:26] helenvarley commented on #205
i'm not able to access limelight-qa at all - i get the message "We're sorry, but something went wrong.
If you are the application owner check the logs for more information." (tried in firefox & chrome). it was like this yesterday as well.

[2017-12-23 15:53] rohrlach commented on #210
@alexanderglenn looks like you were the last person to commit to the Issue#210 branch, can you provide an update here?

[2017-12-25 19:49] helenvarley commented on #285
this is great, in that the image is retaining its proportions. however, what's not so great, is that i'm getting white space between the chat window & the image. what happens in UpStage is that the chat window moves with the backdrop. also, the avatars do not scale down - they stay at the same size, which means that they are not going to be in the same place for different audience members. it's fu

[2017-12-25 19:54] helenvarley commented on #205
this works, in that i can change the name in the avatar palette & it appears on the stage. however, when my avatar speaks, it shows my player name, not the name of the avatar, in the chat window.
also: it's no good having to scroll down in the avatar palette to do this. the palette needs to take more space from the chat window (to sit over the top of it). scrolling is no good when we are performin

[2017-12-25 19:58] helenvarley commented on #206
this issue can't be closed yet as it is not easy to see which avatar you're holding, since the "mirror" is below the scroll of the palette. the palette needs to take more space, in order to show everything in it without scrolling. i guess that's a separate issue ...

[2017-12-25 20:04] helenvarley opened #295 "tool palettes should never need to be scrolled"
there should never need to be any scrolling to see tools in a tool palette. the palette should drop down over the chat window & use as much space as necessary to show everything without the player having to scroll. this should not need to take up more than the top quarter of the chat window.
[tool palettes.pdf](https://github.com/upstage-org/limelight/files/1586123/tool.palettes.pdf)

[2018-02-01 01:32] thongteav commented on #285
do you mean that the chat window's size and position should stay relevant to the backdrop like that? @helenvarley
![grouped](https://user-images.githubusercontent.com/26214298/35656367-f0c9b200-075b-11e8-852c-900abfcb4b55.PNG)

[2018-02-05 22:23] helenvarley commented on #285
yes. everything should stay relative to everything else. so if you make your window smaller, everything gets smaller. please go onto a stage on live.upstage.org.nz & try making the browser window bigger & smaller, narrower & wider, & you will see how it should work. i guess you need a log in to be able to put some media on the stage & see it, so i will send you this via email.

[2018-02-14 19:59] #250 closed

[2018-02-19 03:16] charlie0605 commented on #271
Hi @helenvarley,
Can you please check if this issue still exist?
I have checked this on my Mac and I don't see this issue. I've also asked Thong to check it on Ubuntu and he didn't have this problem. Placing one avatar on a stage doesn't show on another stage.

[2018-02-20 18:50] helenvarley commented on #271
hi @charlie0605, i just tried having 2 stages open & moving avatars on them, & the stages worked independently (as they should). i also put a backdrop on one & drew on the other, & these things just happened on the one stage, as they should. so it looks like it's fixed :)

[2018-02-20 20:04] vickis commented on #271
wahoo!

On Wed, Feb 21, 2018 at 7:50 AM, Helen Varley Jamieson <
notifications@github.com> wrote:

[2018-02-26 03:10] thongteav commented on #273
@rohrlach, do you mean when you initially drop the avatar onto the stage and it doesn't show the image and just the name?

[2018-02-26 16:05] helenvarley commented on #271
i've reopened this because yesterday it happened again. i was demonstrating limelight to an artist colleague (a very cool puppeteer who could so some amazing stuff in UpStage) & i put some media onto the hentest stage to show her. then i went into the other stage (test-244) & discovered that the same media (backdrops and avatars) was displayed there.
this was using firefox on linux.

[2018-02-26 16:07] helenvarley opened #301 "media does not persist on stage"
yesterday i put media (backdrop & avatars & drawing) on the hentest stage. i did not clear the stage. today, there is nothing there. all media should persist on a stage until it is dropped or the stage is cleared.

[2018-03-01 00:44] rohrlach commented on #301
Agreed - This is part of the ongoing #197

[2018-03-01 00:44] #301 closed

[2018-03-01 00:46] rohrlach commented on #273
Haven't tested with name.  Basically, avatars weren't working in Edge

[2018-03-05 22:19] charlie0605 commented on #271
@rohrlach I found out that its when you click back on the browser it still stores some types of data from the stage and when you enter another it will have the same state as the previous stage. I tried going back and refreshing the page before entering the second stage and it works perfectly fine. You mentioned that you are working on an issue #197, would this issue that you are working on possibl

[2018-03-08 23:22] charlie0605 commented on #138
with this issue would it have to broken up a little bit?
right now players are able to draw on the canvas on any given tab. Players are currently able to drawn on canvas if they are on avatar, audio, backdrop tab. Is this meant to be implemented like this or is player only able to draw when they are on drawing tab?

[2018-03-12 19:00] helenvarley commented on #138
players should only be able to draw on the stage when they have the drawing palette displayed. this is important as otherwise how do you distinguish between moving an avatar around & drawing? sometimes you need to have the audio palette open but still be able to move your avatar without having to switch between palettes.
this is how it's always worked in the past - that you can only draw when you

[2018-03-12 22:28] thongteav commented on #274
![image](https://user-images.githubusercontent.com/26214298/37312733-14d83ca6-26b1-11e8-9686-f15eb919a3f6.png)
![image](https://user-images.githubusercontent.com/26214298/37312763-39161fb6-26b1-11e8-95fb-658a436c3e28.png)
![image](https://user-images.githubusercontent.com/26214298/37312808-661415d6-26b1-11e8-8dad-68d5435a3168.png)

I don't seem to have this problem with my testing on main limeligh

[2018-03-12 23:24] rohrlach commented on #274
I can't recreate this issue either - Closing for now

[2018-03-12 23:24] #274 closed

[2018-03-12 23:27] rohrlach commented on #138
You are correct @charlie0605 however that's a bug unrelated to this issue.

This issue asks for the implementation of using "drag and drop" to move avatars

[2018-03-13 22:23] thongteav commented on #273
@rohrlach just making sure that I'm working on the right thing. Some inconsistencies I found regarding the place and hold are:
1. When a player is placing an avatar for the first time, only the name and not the image is shown for other players and the audience.
2. When a player drops an avatar, only other players get the update. The audience still sees the avatar.

[2018-03-13 23:58] rohrlach commented on #273
@thongteav that's correct.

[2018-03-14 00:08] rohrlach commented on #271
@charlie0605 - No, regardless of #197 things should only be happening on the stage that they are performed on.

[2018-03-14 00:11] rohrlach commented on #207
Essentially, the drawing toolbox should include an eraser

[2018-03-14 00:13] #290 closed

[2018-03-14 11:26] helenvarley commented on #274
i also don't have this problem - but the name is very small ...

[2018-03-14 11:29] helenvarley commented on #271
still happening - just was testing the avatar distortion on hentest stage then went to test-244 to check it there, & found the avatars in the positions i'd put them on hentest. the "sharing" avatar is not even assigned to test-244, but there it is on the stage ...

[2018-03-14 11:31] helenvarley commented on #275
great! i'm very happy to be back to my normal proportions :) :+1:

[2018-03-14 11:31] #275 closed

[2018-03-14 11:37] helenvarley opened #304 "avatar resizing questions"
the shadow for the drag & drop avatar movement is very useful. can we also have this shadow for the resizing feature, so that you can see how big or small you are making your avatar?

& does the resizing happen as a jump, i.e. the audience see the avatar at one size and then immediately at the new size, or is it a gradual scaling, so that they see it shrinking or growing? (this would be cool - & m

[2018-03-14 11:41] helenvarley commented on #138
if i click on the avatar & drag it, it moves. if i click somewhere else on the stage, the avatar moves there. all good. but if i click, hold & drag somewhere else on the stage, i draw. even when i am in the avatar palette. this should not happen. i should only be able to draw when i have the drawing palette exposed (or with the draw on avatar feature, if we have that).

[2018-03-14 11:43] helenvarley commented on #207
previously we have only been able to clear an entire drawing, which is often not what we want to do. an erase tool that would allow any part of the drawing to be erased without removing the whole thing, would be super super useful :)

[2018-03-14 13:30] rohrlach opened #305 "Increase Avatar Name Size"
Increase the text size of the avatar name labels to about 18px

[2018-03-14 13:33] rohrlach commented on #138
@helenvarley see #194

[2018-03-14 13:33] #138 closed

[2018-03-14 13:36] rohrlach commented on #304
If we had a smooth scaling animation there'd be no need for the ghosting and no jump for audiences.

Which would be better?

[2018-03-14 13:52] rohrlach commented on #254
This is still inconsistent:
![image](https://user-images.githubusercontent.com/2830313/37406369-5c5d5c8e-276d-11e8-929a-436a7cf5b7a4.png)

vs

![image](https://user-images.githubusercontent.com/2830313/37406385-6d58c672-276d-11e8-9feb-46517b06b2c4.png)

[2018-03-14 13:54] rohrlach commented on #285
@helenvarley is it safe to assume this needs rework?

[2018-03-14 18:28] helenvarley commented on #304
i would say smooth scaling; there might be times when you want your avatar to suddenly be bigger or smaller, but that should be achieveable with a fast scale ... what do you think, @vickis ?

[2018-03-14 18:35] helenvarley commented on #285
yes i think so.

[2018-03-15 01:36] thongteav commented on #271
@helenvarley it hasn't been fixed yet. We'll have a look on this soon.

[2018-03-15 01:38] thongteav commented on #285
Will be working on this next.

[2018-03-15 01:39] thongteav commented on #304
We could have a smooth scaling on this issue. And a fast scale on another issue.

[2018-03-15 01:42] rohrlach commented on #304
Sure - by 'which would be better' I'm really looking for 'which should be done first'

[2018-03-15 21:10] vickis commented on #304
i think smooth scaling first
it seems to me as you suggest hen that once smooth is achieved fast should
follow

smooth as a priority for definite :)

On Thu, Mar 15, 2018 at 2:43 PM, Paul Rohrlach <notifications@github.com>
wrote:

[2018-03-15 23:58] rohrlach commented on #304
This issue asks that:
- The resizing of avatars happen in real-time
- The resizing is visible to audience and other players
- The resizing appears as a 'shrink and grow' type effect

[2018-03-16 00:06] rohrlach opened #307 "Avatar Instant Resize"
**Requires that #304 is closed**

This issue asks that:
- A toggle be placed near the avatar resize slider
- The toggle indicate whether 'Instant' or 'Gradual' resizing is enabled.

Instant resizing:
- Does not send updates to other users until the player has released the slider
- One update is then sent to other users and the avatar resizes 'Instantly'

While using the slider in 'Instant' mode, t

[2018-03-17 05:00] thongteav commented on #257
I'm not sure on the requirement of this issue, there are 2 other resizing avatar issues: #304 and #307. The bug on squashing avatar has also been fixed.
So is the goal of this issue is to resize the chat window and tool palette so that there's no need for scrolling?

[2018-03-17 15:03] helenvarley commented on #257
@thongteav - yes; probably this issue should be closed & a new one opened that is about removing the scrollbar on the tool palettes. i'll do that :)

[2018-03-17 15:03] #257 closed

[2018-03-17 15:04] helenvarley commented on #295
@thongteav - i found that i had already opened this issue :)

[2018-03-21 01:28] alexanderglenn commented on #210
The tag page should now show all the media and stages that are assigned to it in a table.

[2018-03-21 18:26] rohrlach opened #312 "CVE-2018-8048 - Loofah XSS Vulnerability"
https://github.com/flavorjones/loofah/issues/144

[2018-03-21 18:47] #312 closed

[2018-03-24 23:13] charlie0605 opened #315 "MacOS ArgumentError on Ruby 2.5.0"
After updating the Ruby to 2.5.0 I get an ArgumentError.
As soon as I start the rails server and access the website there is ArgumentError
![image](https://user-images.githubusercontent.com/25602185/37869882-8361ef3c-3025-11e8-815c-aa6f4dd8a3ab.png)

The first error got 4 sometimes 2 arguments but expects 0. After that the arguments given was larger
![image](https://user-images.githubusercontent.c

[2018-03-25 16:13] rohrlach commented on #315
Fairly certain this is unique to MacOS

[2018-03-25 16:39] rohrlach commented on #315
Awaiting #316

[2018-03-25 21:43] #315 closed

[2018-03-26 23:18] charlie0605 commented on #205
in regards to "scrolling is no good when we are performing & need to do things quickly" does this get done in this issue or #295 ?

[2018-03-26 23:56] alexanderglenn commented on #254
I have amended the delete messages. They should follow the format:

Title: "Are you sure want to delete [Type], [Name]?"
Confirm "This [type] will be deleted from the server and no longer be available."